.attachment_responsive {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.attachment_responsive:hover {
	opacity: 0.7;
}

.modal-img {
	display: none;
	position: fixed;
	z-index: 99999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-img {
	margin: auto;
	display: block;
	max-width: 90%;
}

.modal-content-img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.closeImageResize {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closeImageResize:hover,
.closeImageResize:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content-img {
		width: 100%;
	}
}

.spoiler {
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-color: transparent;
}

.spoiler-text {
	color: transparent;
	transition: color 0.5s ease;
	position: relative;
	z-index: 1;
}

.spoiler::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: repeating-radial-gradient(circle at 17% 32%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6) 0.00085px);
	background-position: center;
	background-size: 200% 200%;
	z-index: 0;
	animation: noiseAnimation 5s linear infinite;
	transition: opacity 0.5s ease;
}

.spoiler-text.visible {
	color: inherit;
}

.spoiler.active::before {
	opacity: 0;
}

@keyframes noiseAnimation {
	from {
		background-size: 100% 100%;
	}
	to {
		background-size: 200% 200%;
	}
}