openapi: 3.0.3
info:
  title: ABillS ADMIN API
  version: 1.46.01
  description: |
    Last modified 2025-05-30 <br>
    Have other version of API? 
    Specification stored in billing folder. Location /usr/abills/misc/bundle_admin.yaml.
    Copy it and upload it to your favorite OPEN API viewer.
  contact:
    name: Have a question? Support contacts
    url: https://support.abills.net.ua/
    email: dev@abills.net.ua
  x-logo:
    url: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDYlcnHnHZISgLa126i5ofPhroCS3CY3sac_6KCrs-kA&s
  x-providerName: abills.net.ua
externalDocs:
  description: Redocly
  url: https://demo.abills.net.ua:9443/redocly-admin.html
servers:
  - url: https://demo.abills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: admins
    description: Работа с администраторами
  - name: bots
    description: Пути ботов пользователя
  - name: builds
    description: Дома
  - name: callback
    description: Работа с обратными вызовами
  - name: companies
    description: Компании пользователей
  - name: districts
    description: Районы
  - name: fees
    description: Списания
  - name: finance
    description: Получение курсов валют
  - name: global
    description: Унифицированные вызовы несколько путей в одном
  - name: groups
    description: Группы пользователей
  - name: intervals
    description: Интервалы тарифов
  - name: online
    description: Сессии пользователя
  - name: payments
    description: Оплаты
  - name: services
    description: Управление сервисами
  - name: streets
    description: Улицы
  - name: tp
    description: Тарифные планы
  - name: users
    description: Работа с пользователями
  - name: version
    description: Версии
  - name: abon
    description: Abon
  - name: cablecat
    description: Работа с модулем Cablecat
  - name: cards
    description: Работа с модулем Cards
  - name: crm
    description: Crm
  - name: docs
    description: Работа с обратными документами
  - name: equipment
    description: Работа с оборудованием (модуль Equipment)
  - name: internet
    description: Internet
  - name: iptv
    description: Iptv
  - name: maps
    description: Работа с модулем Maps
  - name: msgs
    description: Msgs
  - name: portal
    description: Новостной веб-портал
  - name: storage
    description: Работа с модулем Storage
  - name: tags
    description: Работа с метками пользователя (модуль Tags)
  - name: tasks
    description: Работа с модулем Tasks
  - name: triplay
    description: Работа с модулем Triplay
  - name: ureports
    description: Работа с оповещениями (модуль Ureports)
  - name: voip
    description: Работа с телефонией (модуль Voip)
paths:
  $ref: "./admin/admins/paths.yaml"
  $ref: "./admin/bots/paths.yaml"
  $ref: "./admin/builds/paths.yaml"
  $ref: "./admin/callback/paths.yaml"
  $ref: "./admin/companies/paths.yaml"
  $ref: "./admin/districts/paths.yaml"
  $ref: "./admin/fees/paths.yaml"
  $ref: "./admin/finance/paths.yaml"
  $ref: "./admin/global/paths.yaml"
  $ref: "./admin/groups/paths.yaml"
  $ref: "./admin/intervals/paths.yaml"
  $ref: "./admin/online/paths.yaml"
  $ref: "./admin/payments/paths.yaml"
  $ref: "./admin/streets/paths.yaml"
  $ref: "./admin/tp/paths.yaml"
  $ref: "./admin/users/paths.yaml"
  $ref: "./admin/version/paths.yaml"
  $ref: "./admin/infofields/paths.yaml"
  $ref: "./admin/services/paths.yaml"
  $ref: "../../Abills/modules/Abon/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Cablecat/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Cards/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Crm/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Docs/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Equipment/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Internet/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Iptv/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Maps/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Msgs/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Portal/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Storage/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Tags/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Tasks/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Triplay/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Ureports/Api/swagger/admin/paths.yaml"
  $ref: "../../Abills/modules/Voip/Api/swagger/admin/paths.yaml"
components:
  parameters:
    pathAid:
      name: aid
      in: path
      required: true
      description: ID администратора
      schema:
        type: integer
        format: int64
    pathNasId:
      name: nasId
      in: path
      description: ID сервера доступа
      required: true
      schema:
        type: integer
    pathTpId:
      name: tpId
      in: path
      description: tpId тарифного плана
      required: true
      schema:
        type: integer
        format: int64
    pathUid:
      name: uid
      in: path
      description: ID пользователя
      required: true
      schema:
        type: integer
        format: int64
    aid:
      name: aid
      in: query
      required: true
      description: ID администратора
      schema:
        type: integer
        format: int64
    domainId:
      name: domainId
      in: query
      description: ID домена (модуль Multidoms)
      schema:
        type: integer
    nasId:
      name: nasId
      in: query
      description: ID сервера доступа.
      schema:
        type: boolean
        default: true
    tpId:
      name: tpId
      in: query
      description: ID тарифного плана
      schema:
        type: integer
    uid:
      name: uid
      in: query
      description: ID пользователя
      schema:
        type: integer
        format: int64
    groupBy:
      name: groupBy
      in: query
      description: "Группировка по полю выше, кроме внутренних [desc, pageRows, pg, sort]. В ответе будет два дополнительных поля groupCount и groupSum. Это количество сгруппированных полей и общая сумма"
      schema:
        type: string
        default: id
    desc:
      name: desc
      in: query
      description: "Specify sorting order: 'ASC' for ascending, 'DESC' for descending"
      schema:
        type: string
        enum: [ASC, DESC]
        default: ASC
    pageRows:
      name: pageRows
      in: query
      description: Количество записей
      schema:
        type: integer
        default: 25
    pg:
      name: pg
      in: query
      description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
      schema:
        type: integer
        default: 0
    sort:
      name: sort
      in: query
      description: Сортировка по одному параметру выше
      schema:
        type: string
        default: 0
  schemas:
    SuccessAction200:
      type: object
      properties:
        result:
          type: string
          example: OK
    ErrorUserNotExists:
      type: object
      properties:
        errno:
          type: number
          example: 15
        errstr:
          type: string
          example: User not found with uid 121212
        uid:
          type: number
          example: 121212
    ApiGetResponse400:
      type: object
      properties:
        errno:
          type: integer
          example: 2
        errstr:
          type: string
          example: ERROR_NOT_EXIST
    ApiAddResponse200:
      type: object
      properties:
        total:
          type: integer
          example: 0
        affected:
          type: integer
          example: 1
        insertId:
          type: integer
          example: 37
    ApiAddResponse400:
      type: object
      properties:
        affected:
          type: number
          example: 0
        total:
          type: number
          example: 0
        errno:
          type: number
          example: 7
        errstr:
          type: string
          example: ERROR_DUPLICATE
    ApiChangeResponse200:
      type: object
      properties:
        affected:
          type: integer
          format: int32
          example: 1
        total:
          type: integer
          format: int32
          example: 0
    ApiDeleteResponseMessage200:
      type: object
      properties:
        result:
          type: string
          example: "Successfully deleted"
    ApiDeleteResponse200:
      type: object
      properties:
        total:
          type: integer
          example: 1
        affected:
          type: integer
          example: 1
    ApiDeleteResponse400:
      type: object
      properties:
        total:
          type: integer
          example: 0
        affected:
          type: integer
          example: 0
    OnlineSessionsArray:
      type: array
      items:
        $ref: "#/components/schemas/OnlineSession"
    OnlineSession:
      type: object
      properties:
        clientIpNum:
          type: integer
          example: 3232238092
        nasId:
          type: integer
          example: 12
        nasPortId:
          type: integer
          example: 12
        duration:
          type: string
          example: 838:59:59
        status:
          type: integer
          example: 10
        userName:
          type: string
          example: userName
        clientIp:
          type: string
          example: 192.168.10.12
        acctSessionId:
          type: string
          example: Akie6VpiYU
        guest:
          type: number
          example: 0
        uid:
          type: number
          example: 101
  securitySchemes:
    KEY:
      type: apiKey
      name: KEY
      in: header
