openapi: 3.0.3
info:
  title: Abills admins API
  version: 0.0.64
  description: "Last modified 2023-03-08"
  contact:
    name: Have a question? Support contacts
    url: https://support.abills.net.ua/
    email: dev@abills.net.ua
servers:
  - url: https://demo.abills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: users
    description: Работа с пользователями
  - name: groups
    description: Группы пользователей
  - name: tp
    description: Тарифные планы
  - name: msgs
    description: Msgs
  - name: internet
    description: Internet
  - name: iptv
    description: Iptv
  - name: abon
    description: Abon
  - name: crm
    description: Crm
  - name: districts
    description: Районы
  - name: streets
    description: Улицы
  - name: builds
    description: Дома
  - name: payments
    description: Оплаты
  - name: fees
    description: Списания
  - name: finance
    description: Получение курсов валют
  - name: online
    description: Сессии пользователя
  - name: version
    description: Версии
  - name: equipment
    description: Работа с оборудованием
  - name: ureports
    description: Работа с оповещениями
  - name: admins
    description: Работа с администраторами
  - name: voip
    description: Работа с телефонией
  - name: cablecat
    description: Работа с модулем Cablecat
paths:
  /admins/{AID}:
    get:
      tags:
        - admins
      summary: Информация администратора
      operationId: adminInfo
      parameters:
        - name: AID
          in: path
          required: true
          description: ID администратора
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminInfo"
      security:
        - KEY: []
    put:
      tags:
        - admins
      summary: Изменить администратора
      operationId: adminChange
      parameters:
        - name: AID
          in: path
          required: true
          description: ID администратора
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminChangeRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminChangeResponse"
      security:
        - KEY: []
  /admins:
    post:
      tags:
        - admins
      summary: Добавить администратора
      operationId: adminAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAddRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAddResponse"
        400:
          description: Нет поля логин
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 700
                  errstr:
                    type: string
                    example: No field aLogin
      security:
        - KEY: []
  /admins/{AID}/permissions:
    post:
      tags:
        - admins
      summary: Изменить права администратора
      operationId: adminSetPermissions
      parameters:
        - name: AID
          in: path
          description: ID администратора
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminSetPermissionsRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSetPermissionsResponse"
      security:
        - KEY: []
  /ureports/user/list:
    get:
      tags:
        - ureports
      summary: Список пользователей с включенными оповещениями
      operationId: ureportsUserList
      parameters:
        - name: tpId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: tpName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: destination
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: type
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: uid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: reportsCount
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserList"
      security:
        - KEY: []
  /ureports/user/{UID}:
    post:
      tags:
        - ureports
      summary: Добавить оповещения пользователю
      operationId: ureportsAddUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UreportsUserRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsAddUserResponse"
        400:
          description: Нет поля tpId
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10202
                  errstr:
                    type: string
                    example: No field tpId
      security:
        - KEY: []
    put:
      tags:
        - ureports
      summary: изменить оповещения пользователю
      operationId: ureportsChangeUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UreportsUserRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsChangeUserResponse"
        400:
          description: Нет поля tpId
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10205
                  errstr:
                    type: string
                    example: No field tpId
      security:
        - KEY: []
    delete:
      tags:
        - ureports
      summary: Удалить оповещения пользователю
      operationId: ureportsDeleteUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - KEY: []
  /equipment/onu/list/:
    get:
      tags:
        - equipment
      summary: Список ONU
      operationId: getOnuList
      parameters:
        - name: branch
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: branchDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vlanId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuBillingDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: oltRxPower
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuDhcpPort
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuGraph
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuSnmpId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: dateTime
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: traffic
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: userMac
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: macBehindOnu
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: distance
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: externalSystemLink
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: macSerial
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: pg
          in: query
          description: Рабоатет вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnuList"
      security:
        - KEY: []
  /equipment/onu/{ID}/:
    get:
      tags:
        - equipment
      summary: Возвращает ONU по id
      operationId: getOnuById
      parameters:
        - name: ID
          in: path
          description: ID ONU
          required: true
          schema:
            type: integer
        - name: branch
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: branchDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vlanId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuBillingDesc
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: oltRxPower
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuDhcpPort
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuGraph
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: onuSnmpId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: dateTime
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: traffic
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: userMac
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: macBehindOnu
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: distance
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: macSerial
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: externalSystemLink
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: pg
          in: query
          description: Рабоатет вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnuList"
      security:
        - KEY: [ ]
  /equipment/box/list/:
    get:
      tags:
        - equipment
      summary: Список OLT
      operationId: getOltList
      parameters:
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OltList"
      security:
        - KEY: []
  /equipment/used/ports/:
    get:
      tags:
        - equipment
      summary: Список использованных портов
      operationId: getUsedPorts
      parameters:
        - name: nasId
          in: query
          description: Поиск по nasId
          schema:
            type: string
        - name: portsOnly
          in: query
          description: только порты
          schema:
            type: boolean
        - name: fullList
          in: query
          description: полный список
          schema:
            type: boolean
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsedPorts"
      security:
        - KEY: []
  /equipment/nas/types/:
    get:
      tags:
        - equipment
      summary: Список типов серверов доступа
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasTypesList"
      security:
        - KEY: []
  /equipment/nas/list/extra/:
    get:
      tags:
        - equipment
      summary: Список серверов доступа с дополнительной иформацией
      operationId: getNAsListExtra
      parameters:
        - name: type
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: systemId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: typeId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vendorId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vendorName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasType
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: modelName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: snmpTpl
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: modelId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: disable
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: typeName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ports
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: portsWithExtra
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: mac
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: portShift
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: autoPortShift
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: fdbUsersPortNumberIndex
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: eponSupportedOnus
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gponSupportedOnus
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: geponSupportedOnus
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: defaultOnuRegTemplateEpon
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: defaultOnuRegTemplateGpon
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: mngHostPort
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: mngUser
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasMngUser
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasMngUserPassword
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasGid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasGroupName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: districtId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: streetId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: locationId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: domainId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: domainName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: coordx
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: coordy
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: revision
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: snmpVersion
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: lastActivity
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: internetVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: tr069Vlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: iptvVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasDescr
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIndentifier
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasAlive
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasRadPairs
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasEntrance
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: zabbixHostid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasListExtra"
      security:
        - KEY: []
  /equipment/nas/list/:
    get:
      tags:
        - equipment
      summary: Список серверов доступа
      operationId: getNAsList
      parameters:
        - name: nasName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasType
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: disable
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: mac
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: mngHostPort
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: mngUser
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasMngUser
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasMngUserPassword
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasGroupName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: districtId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: locationId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: domainId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: descr
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIndentifier
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: alive
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: nasRadPairs
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasEntrance
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasFloor
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: addressFull
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: zabbixHostid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
        - name: short
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasList"
      security:
        - KEY: []
  /equipment/nas/:
    post:
      tags:
        - equipment
      summary: Добавить сервер доступа
      operationId: nasAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NasRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasAddResponse200"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasAddResponse400"
      security:
        - KEY: []
  /equipment/nas/{ID}/:
    put:
      tags:
        - equipment
      summary: Изменить сервер доступа
      operationId: nasChange
      parameters:
        - name: ID
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NasRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasChangeResponse"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 205
                  errstr:
                    type: string
                    example: No field ip
      security:
        - KEY: []
    delete:
      tags:
        - equipment
      summary: Удалить сервер доступа
      operationId: nasDelete
      parameters:
        - name: ID
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - KEY: []
  /equipment/nas/groups/list/:
    get:
      tags:
        - equipment
      summary: Список групп серверов доступа
      operationId: getNasGroups
      parameters:
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupsList"
      security:
        - KEY: []
  /equipment/nas/groups/add/:
    post:
      tags:
        - equipment
      summary: Добавить группу серверов доступа
      operationId: nasGroupAdd
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test API
                comments:
                  type: string
                  example: created as example for REST API
                disable:
                  type: number
                  example: 1
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupAddResponse200"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasAddResponse400"
      security:
        - KEY: []
  /equipment/nas/groups/{ID}/:
    put:
      tags:
        - equipment
      summary: Изменить группу серверов доступа
      operationId: nasGroupChange
      parameters:
        - name: ID
          in: path
          description: ID группы сервера доступа
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test API
                comments:
                  type: string
                  example: changed as example for REST API
                disable:
                  type: number
                  example: 1
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupChangeResponse200"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                type: object
                properties:
                  affected:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 0
                  errno:
                    type: integer
                    example: 2
                  errstr:
                    type: string
                    example: ERROR_NOT_EXIST
      security:
        - KEY: []
    delete:
      tags:
        - equipment
      summary: Удалить группу серверов доступа
      operationId: nasGroupDelete
      parameters:
        - name: ID
          in: path
          description: ID группы сервера доступа
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  affected:
                    type: number
                    example: 1
                  total:
                    type: number
                    example: 0
      security:
        - KEY: []
  /equipment/nas/ip/pools/:
    get:
      tags:
        - equipment
      summary: Список IP pools к серверам доступа
      operationId: getIpPoolsList
      parameters:
        - name: id
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: poolName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: firstIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: lastIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ip
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: lastIpNum
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: IpCount
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipFree
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: priority
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: speed
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: name
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nas
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: netmask
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gateway
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: static
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: activeNasId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipSkip
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: dns
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: guest
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nextPool
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: showAllColumns
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6Prefix
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6Mask
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6Temp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6Pd
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6PdMask
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipv6PdTemp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
            default: false
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasIpPools"
      security:
        - KEY: []
    post:
      tags:
        - equipment
      summary: Добавить IP pool к серверу доступа
      operationId: nasIpPoolsAdd
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                poolId:
                  type: number
                  example: 1
                nasId:
                  type: number
                  example: 2
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                properties:
                  name:
                    type: string
                    example: Test API
                  comments:
                    type: string
                    example: changed as example for REST API
                  disable:
                    type: number
                    example: 1
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                properties:
                  errno:
                    type: number
                    example: 209
                  errstr:
                    type: string
                    example: No field nasId
      security:
        - KEY: []
  /equipment/nas/ip/pools/{nasId}/{poolId}:
    delete:
      tags:
        - equipment
      summary: Удалить IP pool привязанный к серверу доступа
      operationId: nasIpPoolsDelete
      parameters:
        - name: nasId
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
        - name: poolId
          in: path
          description: ID пула
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - KEY: []
  /users:
    post:
      tags:
        - users
      summary: Добавить нового пользователя
      operationId: addUser
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCreated"
      security:
        - KEY: []
  /users/all:
    get:
      tags:
        - users
      summary: Получить всех пользователей
      parameters:
        - name: fio
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: fio2
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: fio3
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: deposit
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: extDeposit
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: extBillId
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: credit
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: creditDate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: loginStatus
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: login
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: phone
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: email
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: floor
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: entrance
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: addressFlat
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: pasportDate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: pasportNum
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: pasportGrant
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: city
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: zip
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: gid
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: companyId
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: companyName
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: contractId
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: contractSufix
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: contractDate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: expire
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: reduction
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: lastPayment
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: lastFees
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: registration
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: reductionDate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: comments
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: billId
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: activate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: acceptRules
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: number
        - name: password
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: birthDate
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: taxNumber
          in: query
          description: Параметр который возвращает биллинг, а также поиск по нему, если не поле не пустое
          schema:
            type: string
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
      security:
        - KEY: []
  /users/{UID}:
    get:
      tags:
        - users
      summary: Получить пользователя по UID
      description: Возвращает пользователя
      operationId: getUserByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
        - name: showPassword
          in: query
          description: Параметр который возвращает пароль пользователя
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    put:
      tags:
        - users
      summary: Обновить информацию о пользователе
      operationId: updateUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
    delete:
      tags:
        - users
      summary: Удалить пользователя
      description: Удаление пользователя по UID, полностью через API пользователя невозможно
      operationId: deleteUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: date
          in: query
          description: Дата удаления
          schema:
            type: string
            example: '2023-01-01'
        - name: comments
          in: query
          description: Комментарии к удалению
          schema:
            type: string
            example: Больше не наш абонент
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted user with uid 103394
                  uid:
                    type: number
                    example: 103394
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 15
                  errstr:
                    type: string
                    example: User not found with uid 103399
      security:
        - KEY: []
  /users/{UID}/pi:
    get:
      tags:
        - users
      summary: Получить персональную информацию о пользователе
      description: Возвращает персональную информацию пользователя
      operationId: getUserPiByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPi"
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    put:
      tags:
        - users
      summary: Изменение персональной информации пользователю
      operationId: changeUserPi
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - users
      summary: Добавление персональной информации пользователю
      operationId: addUserPi
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/contacts:
    get:
      tags:
        - users
      summary: Получить контакты пользователя по UID
      description: Возвращает контакты пользователя
      operationId: getUserContactsByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsArray"
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - users
      summary: Добавление контакта пользователю
      operationId: updateUserContact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserContactAdd"
        required: true
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/contacts/{ID}:
    put:
      tags:
        - users
      summary: Обновить контакт пользователю
      operationId: updateUserConctact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID контакта
          required: true
          schema:
            type: integer
            format: int64
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    delete:
      tags:
        - users
      summary: Удалить контакт пользователя
      operationId: deleteUserContact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID контакта
          required: true
          schema:
            type: integer
            format: int64
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/contacts:
    post:
      tags:
        - users
      summary: Получить контакты
      description: Возвращает контакты пользователей
      operationId: getContacts
      requestBody:
        description: Параметры для фильтрации контактов
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contacts"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsArray"
      security:
        - KEY: []
  /users/internet/all:
    get:
      tags:
        - internet
      summary: Получить всех пользователей
      parameters:
        - name: cid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: cpeMac
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: vlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: joinService
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: simultaneonsly
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: speed
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: port
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: allFilterId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: filterId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: tpId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: tpNum
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: tpName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: monthFee
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: abonDistribution
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: dayFee
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: personalTp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: paymentType
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: disable
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: ipnActivate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: dayTrafLimit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: weekTrafLimit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: totalTrafLimit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: feesMethod
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: fio
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: fio2
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: fio3
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: deposit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: extDeposit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: extBillId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: credit
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: creditDate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: loginStatus
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: phone
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: email
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: floor
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: entrance
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: addressFlat
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pasportDate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pasportNum
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pasportGrant
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: city
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: zip
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: companyName
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: contractId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: contractSufix
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: contractDate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: expire
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: reduction
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: lastPayment
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: lastFees
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: registration
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: reductionDate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: activate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: acceptRules
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: password
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: birthDate
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: taxNumber
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetList"
      security:
        - KEY: []
  /users/{UID}/session/hangup:
    post:
      tags:
        - internet
      summary: Hangup сессии абонента
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternetHangupRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetHangupResponse"
      security:
        - KEY: []
  /users/{UID}/internet:
    get:
      tags:
        - internet
      summary: Получить список ТП Internet пользователя
      description: Возвращает ТП интернет пользователя
      operationId: getUserInternetByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetList"
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - internet
      summary: Добавление ТП Internet пользователю
      operationId: addUserInternetDepracted
      deprecated: true
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternet"
        required: true
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /internet/{UID}/{ID}/warnings:
    get:
      tags:
        - internet
      summary: Информация о списаниях
      operationId: userInternetWarnings
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: number
        - name: ID
          in: path
          description: ID услуги
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetWarnings"
      security:
        - KEY: []
  /internet/{UID}/activate:
    post:
      tags:
        - internet
      summary: Добавление ТП Интернет пользователю
      operationId: addUserInternet
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternetActivate"
        required: true
      responses:
        200:
          description: Успешно добавлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
        400:
          description: Нет поля tpId
          content:
            text/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 100
                  errstr:
                    type: string
                    example: No field tpId
      security:
        - KEY: []
    put:
      tags:
        - internet
      summary: Изменение  ТП Internet пользователю
      operationId: changeUserInternet
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternetChange"
        required: true
      responses:
        200:
          description: Успешно изменено
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed
        400:
          description: Нет id услуги
          content:
            text/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 102
                  errstr:
                    type: string
                    example: No field id
      security:
        - KEY: []
  /users/{UID}/internet/{ID}:
    get:
      tags:
        - internet
      summary: Информация об интернет услуге пользователя по ID услуги
      operationId: internetInfoUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID услуги
          required: true
          schema:
            type: integer
            format: int64
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/iptv:
    get:
      tags:
        - iptv
      summary: Получить список ТП Iptv пользователя
      description: Возвращает ТП Iptv пользователя
      operationId: getUserIptvByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIptvList"
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/iptv/{ID}:
    get:
      tags:
        - iptv
      summary: Информация об Iptv услуге пользователя по ID услуги
      operationId: iptvInfoUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID услуги
          required: true
          schema:
            type: integer
            format: int64
      responses:
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /msgs/:
    post:
      tags:
        - msgs
      summary: Добавить сообщение
      operationId: addMsgs
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Msgs"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /msgs/{ID}:
    get:
      tags:
        - msgs
      summary: Получить сообщение по ID
      description: Возвращает сообщение
      operationId: getMsgsInfoByID
      parameters:
        - name: ID
          in: path
          description: ID сообщения
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Msgs"
        404:
          description: Сообщение не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    put:
      tags:
        - msgs
      summary: Обновить информацию о сообщении
      operationId: updateMsgs
      parameters:
        - name: ID
          in: path
          description: ID сообщения
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Msgs"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
  /msgs/list:
    post:
      tags:
        - msgs
      summary: Получить список сообщений
      operationId: msgsList
      requestBody:
        description: Параметры, по которым можно фильтровать сообщения
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Msgs"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /msgs/{ID}/reply:
    get:
      tags:
        - msgs
      summary: Ответы на сообщение
      operationId: repliesListToMsgs
      parameters:
        - name: ID
          in: path
          description: ID сообщения
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsRepliesList"
      security:
        - KEY: []
    post:
      tags:
        - msgs
      summary: Ответить на сообщение
      operationId: addReplyToMsgs
      parameters:
        - name: ID
          in: path
          description: ID сообщения
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsReply"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /msgs/reply/{replyId}/attachment:
    post:
      tags:
        - msgs
      summary: Прикрепление файла к ответу
      operationId: addAttachmentToReply
      parameters:
        - name: replyId
          in: path
          description: ID ответа на сообщение
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsReplyAttachment"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /msgs/chapters:
    get:
      tags:
        - msgs
      summary: Получить список разделов
      operationId: chaptersList
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsChapter"
      security:
        - KEY: []
  /msgs/workflow:
    post:
      tags:
        - msgs
      summary: Добавить рабочий процесс
      operationId: addMsgsWorkflow
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsWorkflow"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /msgs/workflow/{id}:
    post:
      tags:
        - msgs
      summary: Редактировать рабочий процесс
      operationId: changeMsgsWorkflow
      parameters:
        - name: id
          in: path
          description: ID рабочего процесса
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsWorkflow"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /groups:
    get:
      tags:
        - groups
      summary: Получить группы пользователей
      description: Возвращает группы пользователей
      operationId: getGroupsList
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
      security:
        - KEY: []
  /tp/{tpID}:
    get:
      tags:
        - tp
      summary: Получить информацию по тарифному плану
      description: Возвращает тарифный план
      operationId: getTpInfo
      parameters:
        - name: tpID
          in: path
          description: tpID тарифного плана
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tp"
        404:
          description: Тарифный план не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /tp/{tpID}/intervals/:
    get:
      tags:
        - tp
      summary: Получить информацию по интервалам ТП
      description: Возвращает интервалы ТП
      operationId: getTpIntervalsInfo
      parameters:
        - name: tpID
          in: path
          description: tpID тарифного плана
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpIntervals"
        404:
          description: Тарифный план не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /districts:
    get:
      tags:
        - districts
      summary: Получить районы
      description: Возвращает список районов
      operationId: getDistricts
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictsArray"
      security:
        - KEY: []
    post:
      tags:
        - districts
      summary: Добавление района
      operationId: addDistrict
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Districts"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /districts/{ID}:
    get:
      tags:
        - districts
      summary: Получить информацию о районе
      operationId: getDistrictInfo
      parameters:
        - name: ID
          in: path
          description: ID района
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Districts"
      security:
        - KEY: []
    put:
      tags:
        - districts
      summary: Обновить информацию о районе
      operationId: updateDistrict
      parameters:
        - name: ID
          in: path
          description: ID района
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Districts"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
  /streets:
    get:
      tags:
        - streets
      summary: Получить улицы
      description: Возвращает список улиц
      operationId: getStreets
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreetsArray"
      security:
        - KEY: []
    post:
      tags:
        - streets
      summary: Добавление района
      operationId: addStreet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Streets"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /streets/{ID}:
    get:
      tags:
        - streets
      summary: Получить информацию о улице
      description: Возвращает улицу
      operationId: getStreetInfo
      parameters:
        - name: ID
          in: path
          description: ID улицы
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Streets"
      security:
        - KEY: []
    put:
      tags:
        - streets
      summary: Обновить информацию о улице
      operationId: updateStreet
      parameters:
        - name: ID
          in: path
          description: ID улицы
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Streets"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
  /builds:
    get:
      tags:
        - builds
      summary: Получить дома
      description: Возвращает список домов
      operationId: getBuilds
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsArray"
      security:
        - KEY: []
    post:
      tags:
        - builds
      summary: Добавление дома
      operationId: addBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Builds"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessAddResponse"
      security:
        - KEY: []
  /builds/{ID}:
    get:
      tags:
        - builds
      summary: Получить информацию о доме
      description: Возвращает дом
      operationId: getBuildInfo
      parameters:
        - name: ID
          in: path
          description: ID дома
          required: true
          schema:
[...]
