openapi: 3.0.3
info:
  title: ABillS ADMIN API
  version: 1.39.10
  description: |
    Last modified 2025-02-14 <br>
    Have other version of API? 
    Specification stored in billing folder. Location /usr/abills/misc/bundle_admin.yaml.
    Copy it and upload it to your favorite OPEN API viewer.
  contact:
    name: Have a question? Support contacts
    url: https://support.abills.net.ua/
    email: dev@abills.net.ua
  x-logo:
    url: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDYlcnHnHZISgLa126i5ofPhroCS3CY3sac_6KCrs-kA&s
  x-providerName: abills.net.ua
externalDocs:
  description: Redocly
  url: https://demo.abills.net.ua:9443/redocly-admin.html
servers:
  - url: https://demo.abills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: admins
    description: Работа с администраторами
  - name: bots
    description: Пути ботов пользователя
  - name: builds
    description: Дома
  - name: callback
    description: Работа с обратными вызовами
  - name: companies
    description: Компании пользователей
  - name: districts
    description: Районы
  - name: fees
    description: Списания
  - name: finance
    description: Получение курсов валют
  - name: global
    description: Унифицированные вызовы несколько путей в одном
  - name: groups
    description: Группы пользователей
  - name: intervals
    description: Интервалы тарифов
  - name: online
    description: Сессии пользователя
  - name: payments
    description: Оплаты
  - name: streets
    description: Улицы
  - name: tp
    description: Тарифные планы
  - name: users
    description: Работа с пользователями
  - name: version
    description: Версии
  - name: abon
    description: Abon
  - name: cablecat
    description: Работа с модулем Cablecat
  - name: cards
    description: Работа с модулем Cards
  - name: crm
    description: Crm
  - name: docs
    description: Работа с обратными документами
  - name: equipment
    description: Работа с оборудованием (модуль Equipment)
  - name: internet
    description: Internet
  - name: iptv
    description: Iptv
  - name: maps
    description: Работа с модулем Maps
  - name: msgs
    description: Msgs
  - name: portal
    description: Новостной веб-портал
  - name: storage
    description: Работа с модулем Storage
  - name: tags
    description: Работа с метками пользователя (модуль Tags)
  - name: tasks
    description: Работа с модулем Tasks
  - name: ureports
    description: Работа с оповещениями (модуль Ureports)
  - name: voip
    description: Работа с телефонией (модуль Voip)
paths:
  /admins/login/:
    post:
      tags:
        - admins
      summary: Авторизация администратора
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsLoginRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsLoginResponse"
              examples:
                ClassicResponse:
                  summary:
                    Ответ по умолчанию
                  value:
                    sid: dewfj
                ResponseWithApiKey:
                  summary:
                    Ответ если включена опция `API_ADMIN_AUTH_LOGIN_RETURN_API_KEY`
                  value:
                    sid: dewfj
                    apiKey: TEST123
        400:
          description: Нет поля пароль
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsLoginResponse400"
      security:
        - KEY: [ ]
  /admins/{aid}:
    get:
      tags:
        - admins
      summary: Информация администратора
      operationId: adminInfo
      parameters:
        - $ref: "#/components/parameters/pathAid"
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsAdminInfo"
      security:
        - KEY: []
    put:
      tags:
        - admins
      summary: Изменить администратора
      operationId: adminChange
      parameters:
        - $ref: "#/components/parameters/pathAid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsChangeAdminRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsChangeAdminResponse"
      security:
        - KEY: []
  /admins/self:
    get:
      tags:
        - admins
      summary: Информация администратора о себе
      operationId: adminSelfInfo
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                # "../schemas/adminInfo.yaml"
                $ref: "#/components/schemas/AdminsAdminInfo"
      security:
        - KEY: []
  /admins:
    post:
      tags:
        - admins
      summary: Добавить администратора
      operationId: adminAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsAddAdminRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsAddAdminResponse"
        400:
          description: Нет поля логин
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsAddAdminResponse400"
      security:
        - KEY: []
  /admins/{aid}/permissions:
    post:
      tags:
        - admins
      summary: Изменить права администратора
      operationId: adminSetPermissions
      parameters:
        - $ref: "#/components/parameters/pathAid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsSetPermissionsRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsSetPermissionsResponse"
      security:
        - KEY: []
  /admins/all:
    get:
      tags:
        - admins
      summary: Получить всех администраторов
      parameters:
        - name: regdate
          in: query
          description: Дата регистрации
          schema:
            type: boolean
            default: false
        - name: adminName
          in: query
          description: Имя админа
          schema:
            type: boolean
            default: false
        - name: startWork
          in: query
          description: Дата начала работы
          schema:
            type: boolean
            default: false
        - name: gpsImei
          in: query
          description: GPS IMEI
          schema:
            type: boolean
            default: false
        - name: rfidNumber
          in: query
          description: RFID номер
          schema:
            type: boolean
            default: false
        - name: disable
          in: query
          description: Статус аккаунта (0 - активен, 1 - отключен)
          schema:
            type: boolean
            default: false
        - name: cellPhone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: birthday
          in: query
          description: День рождения
          schema:
            type: boolean
            default: false
        - name: apiKey
          in: query
          description: API ключ
          schema:
            type: boolean
            default: false
        - name: domainName
          in: query
          description: Имя домена
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/domainId"
        - $ref: "#/components/parameters/aid"
        - name: sipNumber
          in: query
          description: SIP номер
          schema:
            type: boolean
            default: false
        - name: telegramId
          in: query
          description: Telegram ID
          schema:
            type: boolean
            default: false
        - name: email
          in: query
          description: Электронная почта
          schema:
            type: boolean
            default: false
        - name: positionId
          in: query
          description: ID должности
          schema:
            type: boolean
            default: false
        - name: id
          in: query
          description: ID админа
          schema:
            type: boolean
            default: false
        - name: phone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: adminExpire
          in: query
          description: Срок действия аккаунта
          schema:
            type: boolean
            default: false
        - name: department
          in: query
          description: Департамент
          schema:
            type: boolean
            default: false
        - name: address
          in: query
          description: Адрес
          schema:
            type: boolean
            default: false
        - name: pasportNum
          in: query
          description: Номер паспорта
          schema:
            type: boolean
            default: false
        - name: pasportDate
          in: query
          description: Дата выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: pasportGrant
          in: query
          description: Место выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: inn
          in: query
          description: ИНН
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин администратора
          schema:
            type: boolean
            default: true
        - name: gName
          in: query
          description: Название группы
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Назва администратора
          schema:
            type: boolean
            default: true
        - name: maxRows
          in: query
          description: Максимальное количество строк
          schema:
            type: boolean
            default: false
        - name: minSearchChars
          in: query
          description: Минимальное количество символов для поиска
          schema:
            type: boolean
            default: false
        - name: maxCredit
          in: query
          description: Максимальный кредит
          schema:
            type: boolean
            default: false
        - name: creditDays
          in: query
          description: Дни кредита
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Комментарии
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsList"
      security:
        - KEY: []
  /admins/settings:
    get:
      tags:
        - admins
      summary: Получить системные настройки администратора
      operationId: getAdminSettings
      parameters:
        - name: objectId
          in: query
          description: ID объекта
          schema:
            type: string
            default: '--'
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsSetting"
        400:
          description: Отсутствие объекта за OBJECT_ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
    post:
      tags:
        - admins
      summary: Создать объект системной настройки администратора
      operationId: addAdminSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsSetting"
      responses:
        200:
          description: Успешное добавление объекта системной настройки администратора
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminsAddSettings200"
  
  /admins/{aid}/contacts:
    post:
      tags:
        - admins
      summary: Создать контакт администратора
      operationId: addAdminContact
      parameters:
        - $ref: "#/components/parameters/pathAid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsContact"
      responses:
        200:
          description: Успешное добавление контакта администратору
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse200"
    put:
      tags:
        - admins
      summary: Изменить контакт администратора
      operationId: changeAdminContact
      parameters:
        - $ref: "#/components/parameters/pathAid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminsContact"
      responses:
        200:
          description: Успешное изменение контакта администратору
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse200"
  /bots/subscribe/phone:
    post:
      tags:
        - bots
      summary: Авторизация пользователя по номеру телефона (Только с бота)
      parameters:
        - name: USERBOT
          in: header
          description: Какой именно бот Telegram или Viber
          required: true
          schema:
            type: string
          example: Telegram
        - name: USERID
          in: header
          description: ID Telegram или Viber
          required: true
          schema:
            type: string
            example: 111111111
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: 380958656881
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
                  code:
                    type: string
                    example: 1
                  user:
                    type: boolean
                    example: true
        400:
          description: Нет поля phone
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1770010
                  errstr:
                    type: string
                    example: No field phone
  /bots/subscribe:
    post:
      tags:
        - bots
      summary: Авторизация пользователя по токену с botLink (Только с бота)
      parameters:
        - name: USERBOT
          in: header
          description: Какой именно бот Telegram или Viber
          required: true
          schema:
            type: string
          example: Telegram
        - name: USERID
          in: header
          description: ID Telegram или Viber
          required: true
          schema:
            type: string
            example: 111111111
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: а_WvnZTywig5qzipYH
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
                  code:
                    type: string
                    example: 1
                  user:
                    type: boolean
                    example: false
        400:
          description: Нет поля token
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1770004
                  errstr:
                    type: string
                    example: No field token
  /bots/subscribe/link/{string_bot}:
    get:
      tags:
        - bots
      summary: Получения ссылки на подписания на бота
      parameters:
        - name: string_bot
          in: path
          description: названия бота Viber или Telegram
          required: true
          schema:
            type: string
          example: Telegram
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  botLink:
                    type: string
                    example: "https://t.me/test_tg/?start=a_WvnZTywig5qzipYH"
        400:
          description: Нет параметра TELEGRAM_BOT_NAME в сonfig.pl
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1770002
                  errstr:
                    type: string
                    example: 'ERR_UNKNOWN_TELEGRAM_BOT'
      security:
        - KEY: [ ]
  /bots/subscribe/qrcode/{string_bot}:
    get:
      tags:
        - bots
      summary: Получения QRCode на подписания на бота
      parameters:
        - name: string_bot
          in: path
          description: названия бота Viber или Telegram
          required: true
          schema:
            type: string
          example: Telegram
      responses:
        200:
          description: |
            #
            ![Swagger logo](https://chart.apis.google.com/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=https%3A%2F%2Ft.me%2Fabills_user_bot%3Fstart%3Dа_fB4xWXze5HgdSCu4)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /builds:
    get:
      tags:
        - builds
      summary: Получить дома
      description: Возвращает список домов
      operationId: getBuilds
      parameters:
        - name: districtName
          in: query
          description: Название района.
          schema:
            type: boolean
            default: true
        - name: districtId
          in: query
          description: ID района.
          schema:
            type: boolean
            default: false
        - name: streetName
          in: query
          description: Название улицы.
          schema:
            type: boolean
            default: true
        - name: streetId
          in: query
          description: ID улицы.
          schema:
            type: boolean
            default: true
        - name: number
          in: query
          description: Номер дома.
          schema:
            type: boolean
            default: true
        - name: flors
          in: query
          description: Количество этажей дома.
          schema:
            type: boolean
            default: false
        - name: flats
          in: query
          description: Квартира дома.
          schema:
            type: boolean
            default: false
        - name: entrances
          in: query
          description: Подъезды дома.
          schema:
            type: boolean
            default: false
        - name: usersCount
          in: query
          description: Количество пользователей.
          schema:
            type: boolean
            default: false
        - name: users
          in: query
          description: Список пользователей.
          schema:
            type: boolean
            default: false
        - name: added
          in: query
          description: Дата добавления дома.
          schema:
            type: boolean
            default: false
        - name: locationId
          in: query
          description: ID дома. Возвращает то же, что и поле ID.
          schema:
            type: boolean
            default: false
        - name: id
          in: query
          description: ID дома.
          schema:
            type: boolean
            default: true
        - name: coordx
          in: query
          description: Координата x дома.
          schema:
            type: boolean
            default: false
        - name: coordy
          in: query
          description: Координата y дома.
          schema:
            type: boolean
            default: false
        - name: zip
          in: query
          description: Почтовый индекс дома.
          schema:
            type: boolean
            default: false
        - name: publicComments
          in: query
          description: Публичное описание дома.
          schema:
            type: boolean
            default: false
        - name: plannedToConnect
          in: query
          description: Запланировано подключение.
          schema:
            type: boolean
            default: false
        - name: typeId
          in: query
          description: ID типа дома.
          schema:
            type: boolean
            default: false
        - name: typeName
          in: query
          description: Название типа дома.
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsList"
      security:
        - KEY: []
    post:
      tags:
        - builds
      summary: Добавление дома
      operationId: addBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildsBuilds"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsAddResponse200"
        400:
          description: Нет поля ID улицы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsAddResponse400"
      security:
        - KEY: []
  /builds/{id}:
    get:
      tags:
        - builds
      summary: Получить информацию о доме
      description: Возвращает дом
      operationId: getBuildInfo
      parameters:
        - name: id
          in: path
          description: ID дома
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsInfo"
      security:
        - KEY: []
    put:
      tags:
        - builds
      summary: Обновить информацию о доме
      operationId: updateBuild
      parameters:
        - name: id
          in: path
          description: ID дома
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildsBuilds"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildsAddResponse200"
        400:
          description: Улица уже есть с таким названием(name)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse400"
      security:
        - KEY: []
  /callback/subscribe:
    post:
      tags:
        - callback
      summary: Регистрация обратного вызова
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallbackSubscribe"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse200"
      security:
        - KEY: []
  /callback/unsubscribe:
    delete:
      tags:
        - callback
      summary: Удаление обратного вызова
      parameters:
        - name: callback_url
          in: query
          required: true
          description: URL обратного вызова
          schema:
            type: string
            example: https://my.server.com/callback
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiDeleteResponse200"
      security:
        - KEY: []
  /companies:
    get:
      tags:
        - companies
      summary: Список компаний
      parameters:
        - name: name
          in: query
          description: Название компании
          schema:
            type: boolean
            default: true
        - name: deposit
          in: query
          description: Депозит компании
          schema:
            type: boolean
            default: true
        - name: credit
          in: query
          description: Кредит
          schema:
            type: boolean
            default: true
        - name: creditDate
          in: query
          description: Дата окончаня кредита
          schema:
            type: boolean
            default: true
        - name: address
          in: query
          description: Адресс
          schema:
            type: boolean
            default: false
        - name: registration
          in: query
          description: Дата регистрации
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Статус компании
          schema:
            type: boolean
            default: false
        - name: contractId
          in: query
          description: Номер договора
          schema:
            type: boolean
            default: true
        - name: contractDate
          in: query
          description: Дата подписания договора
          schema:
            type: boolean
            default: true
        - name: contractSufix
          in: query
          description: Суфикс договора
          schema:
            type: boolean
            default: false
        - name: id
          in: query
          description: ID компании
          schema:
            type: boolean
            default: true
        - name: billId
          in: query
          description: денежный счет
          schema:
            type: boolean
            default: true
        - name: taxNumber
          in: query
          description: ИПН (РНОКПП)
          schema:
            type: boolean
            default: true
        - name: bankAccount
          in: query
          description: Счёт в банке (IBAN)
          schema:
            type: boolean
            default: true
        - name: bankName
          in: query
          description: Название банка
          schema:
            type: boolean
            default: true
        - name: corBankAccount
          in: query
          description: Корреспондентский счёт
          schema:
            type: boolean
            default: false
        - name: bankBic
          in: query
          description: BIC код банка (ISO 9362)
          schema:
            type: boolean
            default: false
        - name: phone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: vat
          in: query
          description: НДС
          schema:
            type: boolean
            default: false
        - name: extBillId
          in: query
          description: Дополнительный денежный счет
          schema:
            type: boolean
            default: false
        - name: representative
          in: query
          description: Представитель компании
          schema:
            type: boolean
            default: true
        - name: locationId
          in: query
          description: example description
          schema:
            type: boolean
            default: false
        - name: addressFlat
          in: query
          description: Квартира
          schema:
            type: boolean
            default: false
        - name: companyAdmin
          in: query
          description: Внутренний админ комании
          schema:
            type: boolean
            default: false
        - name: edrpou
          in: query
          description: ЕДРПОУ компании
          schema:
            type: boolean
            default: true
        - name: comments
          in: query
          description: Комментарии к компании
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompanies"
      security:
        - KEY: [ ]
    post:
      tags:
        - companies
      summary: Добавление компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesCompaniesManageRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompany"
        400:
          description: Компания уже есть с таким ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse400"
      security:
        - KEY: [ ]
  
  /companies/{id}:
    get:
      tags:
        - companies
      summary: Информация о компании
      parameters:
        - name: id
          in: path
          description: ID компании
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompany"
      security:
        - KEY: [ ]
    put:
      tags:
        - companies
      summary: Изменение компании
      parameters:
        - name: id
          in: path
          description: ID компании
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesCompaniesManageRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompany"
        400:
          description: Компания не существует с таким ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: [ ]
    delete:
      tags:
        - companies
      summary: Удаление компании
      parameters:
        - name: id
          in: path
          description: ID компании
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
                  id:
                    type: number
                    example: 2005
        400:
          description: Компания не существует с таким ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 100051
                  errstr:
                    type: string
                    example: "Failed delete company with id 2005 not exists"
      security:
        - KEY: [ ]
  
  /companies/{id}/users:
    get:
      tags:
        - companies
      summary: Информация о пользователях компании
      parameters:
        - name: id
          in: path
          description: ID компании
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompaniesUsers"
      security:
        - KEY: [ ]
  /companies/admins/:
    get:
      tags:
        - companies
      summary: Список администраторов компаний
      parameters:
        - name: companyId
          in: query
          description: Проверка по ID компании
          schema:
            type: integer
            default: 0
        - $ref: "#/components/parameters/uid"
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesCompaniesAdmins"
      security:
        - KEY: [ ]
  /companies/{id}/admins/:
    put:
      tags:
        - companies
      summary: Изменение компании
      parameters:
        - name: id
          in: path
          description: ID компании
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesCompaniesAdminsAdd"
            examples:
              NextPeriod:
                summary:
                  Добавить админов
                value:
                  uids:
                    - 100500
                    - 100501
              InvoiceAdd:
                summary:
                  Добавить админов (старый метод)
                value:
                  ids: "100500, 100500"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed
        400:
          description: Компания не существует с таким ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 100054
                  errstr:
                    type: string
                    example: "Company does not exist or no users in company"
      security:
        - KEY: [ ]
  /companies/public-records/{edrpou}/:
    get:
      tags:
        - companies
      summary: Информация о компании
      parameters:
        - name: edrpou
          in: path
          description: EDRPOU компании
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesPublicRecords"
      security:
        - KEY: [ ]
  /districts:
    get:
      tags:
        - districts
      summary: Получить районы
      description: Возвращает список районов
      operationId: getDistricts
      parameters:
        - name: id
          in: query
          description: ID района.
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Название района.
          schema:
            type: boolean
            default: true
        - name: zip
          in: query
          description: ZIP населенного пункта.
          schema:
            type: boolean
            default: true
        - name: coordx
          in: query
          description: Координата x района.
          schema:
            type: boolean
            default: false
        - name: coordy
          in: query
          description: Координата y района.
          schema:
            type: boolean
            default: false
        - name: path
          in: query
          description: Полный путь предков района
          schema:
            type: boolean
            default: false
        - name: parentId
          in: query
          description: ID родителя
          schema:
            type: boolean
            default: false
        - name: typeId
          in: query
          description: ID типа района
          schema:
            type: boolean
            default: false
        - name: typeName
          in: query
          description: Название типа района
          schema:
            type: boolean
            default: false
        - name: fullName
          in: query
          description: Полное название района вместе со всеми предками
          schema:
            type: boolean
            default: false
        - name: parentName
          in: query
          description: Название района-предка
          schema:
            type: boolean
            default: false
        - name: streetCount
          in: query
          description: Количество улиц на районе
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 47
                    description: ID района
                  streetCount:
                    type: number
                    example: 2
                    description: Количество улиц привязанных к району
                  name:
                    type: string
                    example: UBNET
                    description: Название района
                  zip:
                    type: number
                    example: 1900
                    description: Почтовый индекс района
      security:
        - KEY: []
    post:
      tags:
        - districts
      summary: Добавление района
      operationId: addDistrict
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: UBNET
                  description: Название района
                zip:
                  type: number
                  example: 1900
                  description: Почтовый индекс района
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictsPostDistrictsResponse200"
        400:
          description: Нет поля name
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10094
                  errstr:
                    type: string
                    example: "No field name"
      security:
        - KEY: []
  /districts/{id}:
    get:
      tags:
        - districts
      summary: Получить информацию о районе
      description: >
        Получить информацию о районе
        Параметр `childDistricts` возвращается, если район является родительским
        Параметр `streets` возвращается, если район является конечным с прикрепленными улицами
      operationId: getDistrictInfo
      parameters:
        - name: id
          in: path
          description: ID района
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictsGetDistrictsIdResponse"
      security:
        - KEY: [ ]
    put:
      tags:
        - districts
      summary: Обновить информацию о районе
      operationId: updateDistrict
      parameters:
        - name: id
          in: path
          description: ID района
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: UBNET
                  description: Название района
                zip:
                  type: number
                  example: 1900
                  description: Почтовый индекс района
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictsPutDistrictsIdResponse200"
        400:
          description: Район уже есть с таким названием(name)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse400"
      security:
        - KEY: [ ]
  /fees:
    get:
      tags:
        - fees
      summary: Получить список списаний
      description: Возвращает список списаний
      operationId: getFees
      parameters:
        - name: datetime
          in: query
          description: Дата проведения списания.
          schema:
            type: boolean
            default: false
        - name: regDate
          in: query
          description: Дата регистрации списания.
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID списания.
          schema:
            type: boolean
            default: true
        - name: innerDescribe
          in: query
          description: Внутреннее описание списания.
          schema:
            type: boolean
            default: true
        - name: dsc
          in: query
          description: Описание списания.
          schema:
            type: boolean
            default: true
        - name: method
          in: query
          description: Метод списания.
          schema:
            type: boolean
            default: true
        - name: login
          in: query
          description: Логин списания.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/uid"
        - name: fio
          in: query
          description: ФИО пользователя.
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: ID компании пользователя.
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Счёт пользователя.
          schema:
            type: boolean
            default: false
        - name: sum
          in: query
          description: Сумма списания.
          schema:
            type: boolean
            default: true
        - name: ip
          in: query
          description: IP с которого поступило списание.
          schema:
            type: boolean
            default: false
        - name: lastDeposit
          in: query
          description: Баланс перед проведением списания.
          schema:
            type: boolean
            default: false
        - name: invoiceId
          in: query
          description: ID инвойса списания.
          schema:
            type: boolean
            default: false
        - name: invoiceNum
          in: query
          description: Номер инвойса списания.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/aid"
        - name: adminName
          in: query
          description: Имя администратора, который провел списание.
          schema:
            type: boolean
            default: false
        - name: aLogin
          in: query
          description: Логин администратора, который провел списание.
          schema:
            type: boolean
            default: false
        - name: tax
          in: query
          description: Налог, указанный в методе списания.
          schema:
            type: boolean
            default: false
        - name: taxSum
          in: query
          description: Размер налога.
          schema:
            type: boolean
            default: false
        - name: fromDate
          in: query
          description: Списания произведены с даты
          schema:
            type: boolean
            default: false
        - name: toDate
          in: query
          description: Списания произведены до даты
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeesArray"
      security:
        - KEY: []
  
  /fees/types:
    get:
      tags:
        - fees
      summary: Получить список типов списания
      parameters:
        - name: id
          in: query
          description: ID типа списания.
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Название типа списания.
          schema:
            type: boolean
            default: true
        - name: sum
          in: query
          description: Сумма списания.
          schema:
            type: boolean
            default: true
        - name: defaultDescribe
          in: query
          description: Описание отображаемое клиентам.
          schema:
            type: boolean
            default: true
        - name: tax
          in: query
          description: Налог.
          schema:
            type: boolean
            default: false
      description: Возвращает список типов списания
      operationId: getFeesTypesList
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesTypesArray"
      security:
        - KEY: []
  /fees/schedules:
    get:
      tags:
        - fees
      summary: Получить список запланированных списаний
      parameters:
        - name: id
          in: query
          description: ID запланированного списания.
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/uid"
        - name: login
          in: query
          description: Логин пользователя.
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/aid"
        - name: adminName
          in: query
          description: Имя администратора.
          schema:
            type: boolean
            default: true
        - name: action
          in: query
          description: "Параметры действия, которое состоится. Формат: 'Сумма:Описание:Денежный счет:Метод списания'"
          schema:
            type: boolean
            default: true
        - name: h
          in: query
          description: Время когда сделается запланированное списание
          schema:
            type: boolean
            default: true
        - name: d
          in: query
          description: День когда сделается запланированное списание
          schema:
            type: boolean
            default: true
        - name: m
          in: query
          description: Месяц когда сделается запланированное списание
          schema:
            type: boolean
            default: true
        - name: y
          in: query
          description: Год когда сделается запланированное списание
          schema:
            type: boolean
            default: true
        - name: date
          in: query
          description: Дата когда сделается запланированное списание
          schema:
            type: boolean
            default: true
        - name: comments
          in: query
          description: Комментарии
          schema:
            type: boolean
            default: true
        - name: module
          in: query
          description: Модуль
          schema:
            type: boolean
            default: true
        - name: type
          in: query
          description: Тип события
          schema:
            type: boolean
            default: true
        - name: count
          in: query
          description: Количество раз
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesScheduleList"
      security:
        - KEY: []
  
  /fees/users/{uid}:
    get:
      tags:
        - fees
      summary: Получить список списаний пользователя
      description: Возвращает список списаний пользователя
      operationId: getUserFees
      parameters:
        - $ref: "#/components/parameters/pathUid"
        - name: datetime
          in: query
          description: Дата проведения списания.
          schema:
            type: boolean
            default: false
        - name: regDate
          in: query
          description: Дата регистрации списания.
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID списания.
          schema:
            type: boolean
            default: true
        - name: innerDescribe
          in: query
          description: Внутреннее описание списания.
          schema:
            type: boolean
            default: true
        - name: dsc
          in: query
          description: Описание списания.
          schema:
            type: boolean
            default: true
        - name: method
          in: query
          description: Метод списания.
          schema:
            type: boolean
            default: true
        - name: login
          in: query
          description: Логин списания.
          schema:
            type: boolean
            default: false
        - name: fio
          in: query
          description: ФИО пользователя.
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: ID компании пользователя.
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Счёт пользователя.
          schema:
            type: boolean
            default: false
        - name: sum
          in: query
          description: Сумма списания.
          schema:
            type: boolean
            default: true
        - name: ip
          in: query
          description: IP с которого поступило списание.
          schema:
            type: boolean
            default: false
        - name: lastDeposit
          in: query
          description: Баланс перед проведением списания.
          schema:
            type: boolean
            default: false
        - name: invoiceId
          in: query
          description: ID инвойса списания.
          schema:
            type: boolean
            default: false
        - name: invoiceNum
          in: query
          description: Номер инвойса списания.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/aid"
        - name: adminName
          in: query
          description: Имя администратора, который провел списание.
          schema:
            type: boolean
            default: false
        - name: aLogin
          in: query
          description: Логин администратора, который провел списание.
          schema:
            type: boolean
            default: false
        - name: tax
          in: query
          description: Налог, указанный в методе списания.
          schema:
            type: boolean
            default: false
        - name: taxSum
          in: query
          description: Размер налога.
          schema:
            type: boolean
            default: false
        - name: fromDate
          in: query
          description: Списания произведены с даты
          schema:
            type: boolean
            default: false
        - name: toDate
          in: query
          description: Списания произведены до даты
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeesArray"
      security:
        - KEY: []
    post:
      tags:
        - fees
      summary: Добавление списания пользователю
      operationId: addUserFee
      parameters:
        - $ref: "#/components/parameters/pathUid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeesUserFeeAdd"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeeAddResponse200"
        400:
          description: Не верный параметр сумма
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeeAddResponse400"
      security:
        - KEY: []
  
  /fees/users/{uid}/{sum}:
    post:
      tags:
        - fees
      summary: Добавление списания пользователю
      operationId: addUserFeeOld
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/pathUid"
        - name: sum
          in: path
          description: Сумма списания
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeesUserFeeAddOld"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
  /fees/users/{uid}/{id}:
    delete:
      tags:
        - fees
      summary: Удалить списание
      parameters:
        - $ref: "#/components/parameters/pathUid"
        - name: id
          in: path
          description: ID списания
          required: true
          schema:
            type: integer
        - name: comments
          in: query
          description: Комментарии при удалении списания
          schema:
            type: string
            default: Deleted from API request
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeeDeleteResponse200"
        400:
          description: Нет списания с таким id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesUserFeeDeleteResponse400"
      security:
        - KEY: []
  /finance/exchange/rate:
    get:
      tags:
        - finance
      summary: Получить список обменов валют
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinanceRates"
      security:
        - KEY: [ ]
  /finance/exchange/rate/log:
    get:
      tags:
        - finance
      summary: Получить список истории обменов валют
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinanceRatesLog"
      security:
        - KEY: [ ]
  /global:
    post:
      tags:
        - global
      summary: Унифицированные вызовы несколько ADMIN API путей в одном
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GlobalGlobal_request_body"
            examples:
              UserRegistrationVoip:
                summary:
                  Создание пользователя и добавление услуги Voip, списания и Abon услги
                value:
                  requests:
                    - method: POST
                      url: "/users/"
                      body:
                        login: apiuser1
                        password: 123456
                        createBill: 1
                        fio: test api create
                    - method: POST
                      url: "/payments/users/{uid}/"
                      body:
                        sum: 100
                        method: 123456
                        billId: "{BILL_ID}"
                    - method: POST
                      url: "/voip/{uid}/"
                      body:
                        tpId: 4
                        number: "38050631262"
                    - method: POST
                      url: "/abon/tariffs/2/users/{uid}/"
                    - method: POST
                      url: "/abon/tariffs/3/users/{uid}/"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalGlobal_response_200"
              examples:
                UserRegistrationVoip:
                  summary:
                    Создание пользователя и добавление услуги Voip, списания и Abon услги
                  value:
                    result: OK
                    uid: 120561
                    response:
                      - id: 0
                        method: POST
                        url: "/users/"
                        response:
                          affected: 1
                          billId: 215701
                          insertId: 120561
                          login: apiuser1
                          total: 0
                          uid: 120561
                        status: 200
                        successful: true
                      - id: 1
                        method: POST
                        url: "/payments/users/120561/"
                        response:
                          insertId: 3647
                          paymentId: 3647
                          uid: 120561
                        status: 200
                        successful: true
                      - id: 2
                        method: POST
                        url: "/voip/120561/"
                        response:
                          result: OK
                        status: 200
                        successful: true
                      - id: 3
                        method: POST
                        url: "/abon/tariffs/2/users/120561/"
                        response:
                          account: 0
                          activateNotification: 0
                          activatePrice: 0
                          affected: 1
                          alert: 0
                          alertAccount: 0
                          categoryId: 0
                          comments: ""
                          createAccount: 0
                          createDocs: 0
                          date: '2023-09-29'
                          datetime: '2023-09-29 13:52:11'
                          debug: 0
                          debugFile: ""
                          description: Test
                          discount: 0
                          docsOrder: Test3
                          docsSum: 0.67
                          domainId: 0
                          extBillAccount: 0
                          extCmd: ""
                          extServiceId: ""
                          feesType: 1
                          id: 2
                          login: ""
                          manualActivate: 1
                          module: Nod32
                          name: Test
                          nextAbonDate: ""
                          nonfixPeriod: 0
                          notification1: 0
                          notification2: 0
                          notificationAccount: 0
                          password: ""
                          paymentType: 0
                          period: 2
                          periodAlignment: 1
                          personalDescription: ""
                          plugin: ""
                          price: 10
                          priority: 0
                          promotional: 0
                          promoPeriod: 0
                          serviceCount: 1
                          serviceImg: ""
                          serviceLink: ""
                          serviceRecovery: 0
                          total: 0
                          url: ""
                          userDescription: ""
                          userPortal: 2
                          vat: 0
                        status: 200
                        successful: true
                      - id: 4
                        method: POST
                        url: "/abon/tariffs/3/users/120561/"
                        response:
                          account: 0
                          activateNotification: 0
                          activatePrice: 0
                          affected: 1
                          alert: 0
                          alertAccount: 0
                          categoryId: 0
                          comments: ""
                          createAccount: 0
                          createDocs: 0
                          date: '2023-09-29'
                          datetime: '2023-09-29 13:52:11'
                          debug: 0
                          debugFile: ""
                          description: Test
                          discount: 0
                          docsOrder: Test3
                          docsSum: 0.67
                          domainId: 0
                          extBillAccount: 0
                          extCmd: ""
                          extServiceId: ""
                          feesType: 1
                          id: 2
                          login: ""
                          manualActivate: 1
                          module: Nod32
                          name: Test
                          nextAbonDate: ""
                          nonfixPeriod: 0
                          notification1: 0
                          notification2: 0
                          notificationAccount: 0
                          password: ""
                          paymentType: 0
                          period: 2
                          periodAlignment: 1
                          personalDescription: ""
                          plugin: ""
                          price: 10
                          priority: 0
                          promotional: 0
                          promoPeriod: 0
                          serviceCount: 1
                          serviceImg: ""
                          serviceLink: ""
                          serviceRecovery: 0
                          total: 0
                          url: ""
                          userDescription: ""
                          userPortal: 2
                          vat: 0
                        status: 200
                        successful: true
        400:
          description: Произошла ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalGlobal_response_400"
              examples:
                UserRegistrationVoip:
                  summary:
                    Создание пользователя и добавление услуги Voip, списания и Abon услги
                  value:
                    result: Execution failed
                    errno: 7
                    results:
                      - id: 0
                        url: "/users/"
                        response:
                          errno: 7
                          errstr: ERROR_DUPLICATE
                        status: 200
                        successful: false
                      - id: 1
                        url: "/payments/users/120561/"
                        errno: 10149
                        errstr: "Fatal error, not executed"
                        response:
                        status: 200
                        successful: false
                      - id: 2
                        url: "/voip/120561/"
                        errno: 10149
                        errstr: "Fatal error, not executed"
                        response:
                        status: 200
                        successful: false
                      - id: 3
                        url: "/abon/tariffs/2/users/120561/"
                        errno: 10149
                        errstr: "Fatal error, not executed"
                        response:
                        status: 200
                        successful: false
                      - id: 4
                        url: "/abon/tariffs/3/users/120561/"
                        errno: 10149
                        errstr: "Fatal error, not executed"
                        response:
                        status: 200
                        successful: false
      security:
        - KEY: [ ]
  /groups:
    get:
      tags:
        - groups
      summary: Получить группы пользователей
      description: Возвращает группы пользователей
      operationId: getGroupsList
      parameters:
        - name: allowCredit
          in: query
          description: Разрешить брать кредит в лк 1 - да, 0 - нет
          schema:
            type: boolean
            default: true
        - name: bonus
          in: query
          description: Включить бонусы 1 - включено, 0 - нет
          schema:
            type: boolean
            default: true
        - name: descr
          in: query
          description: Описание группы
          schema:
            type: boolean
            default: true
        - name: disableChgTp
          in: query
          description: Разрешить смену тарифного плана в лк 1 - да, 0 - нет
          schema:
            type: boolean
            default: true
        - name: disablePayments
          in: query
          description: Запретить внесение платежей через админ панель 1 - да, 0 - нет
          schema:
            type: boolean
            default: true
        - name: disablePaysys
          in: query
          description: Запретить прием платежей через Paysys 1 - да, 0 - нет
          schema:
            type: boolean
            default: true
        - name: documentsAccess
          in: query
          description: Включить доступ к документам 1 - да, 0 - нет
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/domainId"
        - name: gName
          in: query
          description: Название группы
          schema:
            type: boolean
            default: true
        - name: gid
          in: query
          description: ID группы в системе
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID группы в системе
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Название группы
          schema:
            type: boolean
            default: true
        - name: smsService
          in: query
          description: СМС Шлюз для группы
          schema:
            type: boolean
            default: true
        - name: separateDocs
          in: query
          description: Собственные Бух. документы 1 да, 0 нет
          schema:
            type: boolean
            default: true
        - name: usersCount
          in: query
          description: Количество пользователей в группе
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsGroups"
      security:
        - KEY: [ ]
    post:
      tags:
        - groups
      summary: Добавление группы
      operationId: addGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupsGroupsId"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsGroupsId"
        400:
          description: Группа уже есть с таким GID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse400"
      security:
        - KEY: [ ]
    
  
  /groups/{id}:
    get:
      tags:
        - groups
      summary: Информация о группе
      operationId: getGroup
      parameters:
        - name: id
          in: path
          description: GID группы
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsGroupsId"
      security:
        - KEY: [ ]
    put:
      tags:
        - groups
      summary: Изменение группы
      operationId: updateGroup
      parameters:
        - name: id
          in: path
          description: GID группы
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupsGroupsIdUpdate"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupsGroupsId"
        400:
          description: Группа не существует с таким ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: [ ]
    delete:
      tags:
        - groups
      summary: Удаление группы
      operationId: deleteGroup
      parameters:
        - name: id
          in: path
          description: GID группы
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
                  gid:
                    type: number
                    example: 205
        400:
          description: Невозможно удалить группу. В группе есть пользователи
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 100057
                  errstr:
                    type: string
                    example: "NO_DELETE_GROUPS_USERS_EXISTS"
      security:
        - KEY: [ ]
  /intervals/{tpId}:
    get:
      tags:
        - intervals
      summary: Получить информацию по интервалам ТП
      description: Возвращает интервалы ТП
      operationId: getTpIntervalsInfo
      parameters:
        - $ref: "#/components/parameters/pathTpId"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntervalsTpIntervalList"
        400:
          description: Тарифный план не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: []
  /online/{uid}:
    get:
      tags:
        - online
      summary: Получить сессии пользователя по UID
      description: Возвращает сессии пользователя
      operationId: getUserSessions
      deprecated: true
      parameters:
      - $ref: "#/components/parameters/pathUid"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnlineSessionsArray"
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: []
  /payments:
    get:
      tags:
        - payments
      summary: Получить список оплат
      operationId: getPayments
      parameters:
        - name: datetime
          in: query
          description: Дата проведения платежа.
          schema:
            type: boolean
            default: false
        - name: regDate
          in: query
          description: Дата регистрации платежа.
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID платежа.
          schema:
            type: boolean
            default: true
        - name: innerDescribe
          in: query
          description: Внутреннее описание платежа.
          schema:
            type: boolean
            default: true
        - name: dsc
          in: query
          description: Описание платежа.
          schema:
            type: boolean
            default: false
        - name: method
          in: query
          description: Метод платежа.
          schema:
            type: boolean
            default: true
        - name: fio
          in: query
          description: ФИО пользователя.
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин пользователя.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/uid"
        - name: billId
          in: query
          description: Счёт пользователя.
          schema:
            type: boolean
            default: false
        - name: sum
          in: query
          description: Сумма платежа.
          schema:
            type: boolean
            default: true
        - name: amount
          in: query
          description: Начисленная сумма на баланс.
          schema:
            type: boolean
            default: false
        - name: currency
          in: query
          description: ID валюты платежа.
          schema:
            type: boolean
            default: false
        - name: extId
          in: query
          description: Внешнее ID платежа, в большинстве случаев вносится платежной системой.
          schema:
            type: boolean
            default: false
        - name: ip
          in: query
          description: IP с которого поступил платеж.
          schema:
            type: boolean
            default: false
        - name: lastDeposit
          in: query
          description: Баланс перед проведением платежа.
          schema:
            type: boolean
            default: false
        - name: afterDeposit
          in: query
          description: Баланс после проведения платежа.
          schema:
            type: boolean
            default: false
        - name: invoiceNum
          in: query
          description: Номер инвойса платежа.
          schema:
            type: boolean
            default: false
        - name: invoiceDate
          in: query
          description: Дата инвойса платежа.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/aid"
        - name: adminName
          in: query
          description: Имя администратора, который провел платеж.
          schema:
            type: boolean
            default: false
        - name: aLogin
          in: query
          description: Логин администратора, который провел платеж.
          schema:
            type: boolean
            default: false
        - name: fromDate
          in: query
          description: Платежи произведены с даты
          schema:
            type: boolean
            default: false
        - name: toDate
          in: query
          description: Платежи произведены до даты
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsUserPaymentsArray"
      security:
        - KEY: []
  
  /payments/types:
    get:
      tags:
        - payments
      summary: Получить список типов оплат
      description: Возвращает список типов оплат
      operationId: getPaymentTypesList
      parameters:
        - name: color
          in: query
          description: Цвет отображения в форме оплаты
          schema:
            type: boolean
            default: true
        - name: defaultPayment
          in: query
          description: Оплата по умолчанию
          schema:
            type: boolean
            default: true
        - name: feesType
          in: query
          description: Тип списания
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID вида оплаты
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Название типа оплаты
          schema:
            type: boolean
            default: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsTypesList"
      security:
        - KEY: []
  
  /payments/users/{uid}:
    get:
      tags:
        - payments
      summary: Получить список оплат пользователя
      description: Возвращает список оплат пользователя
      operationId: getUserPayments
      parameters:
        - $ref: "#/components/parameters/pathUid"
        - name: datetime
          in: query
          description: Дата проведения платежа.
          schema:
            type: boolean
            default: false
        - name: regDate
          in: query
          description: Дата регистрации платежа.
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID платежа.
          schema:
            type: boolean
            default: true
        - name: innerDescribe
          in: query
          description: Внутреннее описание платежа.
          schema:
            type: boolean
            default: true
        - name: dsc
          in: query
          description: Описание платежа.
          schema:
            type: boolean
            default: false
        - name: method
          in: query
          description: Метод платежа.
          schema:
            type: boolean
            default: true
        - name: fio
          in: query
          description: ФИО пользователя.
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин пользователя.
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Счёт пользователя.
          schema:
            type: boolean
            default: false
        - name: sum
          in: query
          description: Сумма платежа.
          schema:
            type: boolean
            default: true
        - name: amount
          in: query
          description: Начисленная сумма на баланс.
          schema:
            type: boolean
            default: false
        - name: currency
          in: query
          description: ID валюты платежа.
          schema:
            type: boolean
            default: false
        - name: extId
          in: query
          description: Внешнее ID платежа, в большинстве случаев вносится платежной системой.
          schema:
            type: boolean
            default: false
        - name: ip
          in: query
          description: IP с которого поступил платеж.
          schema:
            type: boolean
            default: false
        - name: lastDeposit
          in: query
          description: Баланс перед проведением платежа.
          schema:
            type: boolean
            default: false
        - name: afterDeposit
          in: query
          description: Баланс после проведения платежа.
          schema:
            type: boolean
            default: false
        - name: invoiceNum
          in: query
          description: Номер инвойса платежа.
          schema:
            type: boolean
            default: false
        - name: invoiceDate
          in: query
          description: Дата инвойса платежа.
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/aid"
        - name: adminName
          in: query
          description: Имя администратора, который провел платеж.
          schema:
            type: boolean
            default: false
        - name: aLogin
          in: query
          description: Логин администратора, который провел платеж.
          schema:
            type: boolean
            default: false
        - name: fromDate
          in: query
          description: Платежи произведены с даты
          schema:
            type: boolean
            default: false
        - name: toDate
          in: query
          description: Платежи произведены до даты
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsUserPaymentsArray"
      security:
        - KEY: []
    post:
      tags:
        - payments
      summary: Добавление оплаты пользователю
      operationId: addUserPayment
      parameters:
        - $ref: "#/components/parameters/pathUid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentsAddPaymentRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsAddPaymentResponse200"
        400:
          description: Нет пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsAddPaymentResponse400"
      security:
        - KEY: []
  /payments/users/{uid}/{id}:
    delete:
      tags:
        - payments
      summary: Удалить платеж
      parameters:
        - $ref: "#/components/parameters/pathUid"
        - name: id
          in: path
          description: ID платежа
          required: true
          schema:
            type: integer
        - name: comments
          in: query
          description: Комментарии при удалении платежа
          schema:
            type: string
            default: Deleted from API request
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsDeletePaymentResponse200"
        400:
          description: Нет платежа с таким id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsDeletePaymentResponse400"
      security:
        - KEY: []
  /streets:
    get:
      tags:
        - streets
      summary: Получить улицы
      description: Возвращает список улиц
      operationId: getStreets
      parameters:
        - name: streetName
          in: query
          description: Название улицы.
          schema:
            type: boolean
            default: true
        - name: districtId
          in: query
          description: ID района.
          schema:
            type: boolean
            default: true
        - name: districtName
          in: query
          description: Название района.
          schema:
            type: boolean
            default: false
        - name: type
          in: query
          description: Тип улицы.
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID улицы.
          schema:
            type: boolean
            default: true
        - name: streetId
          in: query
          description: ID улицы.
          schema:
            type: boolean
            default: true
        - name: buildCount
          in: query
          description: Количество домов на улице.
          schema:
            type: boolean
            default: true
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreetsGetStreets"
      security:
        - KEY: []
    post:
      tags:
        - streets
      summary: Добавление улицы
      operationId: addStreet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreetsStreetRequestManage"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreetsPostStreetsResponse200"
        400:
          description: Нет поля districtId
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10095
                  errstr:
                    type: string
                    example: "No field districtId"
      security:
        - KEY: []
  /streets/{id}:
    get:
      tags:
        - streets
      summary: Получить информацию о улице
      description: Возвращает улицу
      operationId: getStreetInfo
      parameters:
        - name: id
          in: path
          description: ID улицы
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreetsGetStreetsId"
        400:
          description: Нет улицы с таким ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: []
    put:
      tags:
        - streets
      summary: Обновить информацию о улице
      operationId: updateStreet
      parameters:
        - name: id
          in: path
          description: ID улицы
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreetsStreetRequestManage"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreetsPutStreetsResponse200"
        400:
          description: Улица уже есть с таким названием(name)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiAddResponse400"
      security:
        - KEY: []
  /tp/{tpId}:
    get:
      tags:
        - tp
      summary: Получить информацию по тарифному плану
      description: Возвращает тарифный план
      operationId: getTpInfo
      parameters:
        - $ref: "#/components/parameters/pathTpId"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpTp"
        400:
          description: Тарифный план не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetResponse400"
      security:
        - KEY: []
  /users:
    post:
      tags:
        - users
      summary: Добавить нового пользователя
      operationId: addUser
      description: >
        Также можно добавлять все информационные поля
        Пример: если в БД `_TEST_FIELD` то можно добавить как `_testField`
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsersAddUserRequest"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersAddUserResponse200"
      security:
        - KEY: []
  /users/all:
    get:
      tags:
        - users
      summary: Получить всех пользователей
      parameters:
        - $ref: "#/components/parameters/uid"
        - name: fio
          in: query
          description: ФИО пользователя
          schema:
            type: boolean
            default: false
        - name: deposit
          in: query
          description: Баланс пользователя
          schema:
            type: boolean
            default: false
        - name: extDeposit
          in: query
          description: Дополнительный баланc
          schema:
            type: boolean
            default: false
        - name: extBillId
          in: query
          description: ID дополнительного счета
          schema:
            type: boolean
            default: false
        - name: tags
          in: query
          description: Метки пользователя
          schema:
            type: boolean
            default: false
        - name: credit
          in: query
          description: Кредит
          schema:
            type: boolean
            default: false
        - name: creditDate
          in: query
          description: Дата установки кредита
          schema:
            type: boolean
            default: false
        - name: loginStatus
          in: query
          description: Статус пользователя
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин
          schema:
            type: boolean
            default: true
        - name: phone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: cellPhone
          in: query
          description: Номер мобильного телефона
          schema:
            type: boolean
            default: false
        - name: telegram
          in: query
          description: Telegram ID
          schema:
            type: boolean
            default: false
        - name: viber
          in: query
          description: Viber ID
          schema:
            type: boolean
            default: false
        - name: email
          in: query
          description: E-mail
          schema:
            type: boolean
            default: false
        - name: floor
          in: query
          description: Этаж
          schema:
            type: boolean
            default: false
        - name: entrance
          in: query
          description: Подъезд
          schema:
            type: boolean
            default: false
        - name: addressFlat
          in: query
          description: Номер квартиры
          schema:
            type: boolean
            default: false
        - name: pasportDate
          in: query
          description: Дата выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: pasportNum
          in: query
          description: Номер паспорта
          schema:
            type: boolean
            default: false
        - name: pasportGrant
          in: query
          description: Орган выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: city
          in: query
          description: Город проживания
          schema:
            type: boolean
            default: false
        - name: zip
          in: query
          description: Индекс города
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: ID группы
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: ID компании
          schema:
            type: boolean
            default: false
        - name: companyName
          in: query
          description: Наименование компании
          schema:
            type: boolean
            default: false
        - name: contractId
          in: query
          description: ID контракта
          schema:
            type: boolean
            default: false
        - name: contractSufix
          in: query
          description: Суффикс контракта
          schema:
            type: boolean
            default: false
        - name: contractDate
          in: query
          description: Дата подписания контракта
          schema:
            type: boolean
            default: false
        - name: expire
          in: query
          description: Дата окончания аккаунта
          schema:
            type: boolean
            default: false
        - name: reduction
          in: query
          description: Скидка
          schema:
            type: boolean
            default: false
        - name: lastPayment
          in: query
          description: Дата последней оплаты
          schema:
            type: boolean
            default: false
        - name: lastFees
          in: query
          description: Дата последнего списания
          schema:
            type: boolean
            default: false
        - name: registration
          in: query
          description: Дата регистрации
          schema:
            type: boolean
            default: false
        - name: reductionDate
          in: query
          description: Дата установки скидки
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Комментарий
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Уникальный идентификатор счета пользователя
          schema:
            type: boolean
            default: false
[...]
