openapi: 3.0.3
info:
  title: ABillS USER API
  version: 1.38.05
  description: |
    Last modified 2025-01-09 <br>
    Have other version of API? 
    Specification stored in billing folder. Location /usr/abills/misc/bundle_user.yaml
    Copy it and upload it to your favorite OPEN API viewer.
  contact:
    name: Have a question? Support
    url: https://support.abills.net.ua/
    email: dev@abills.net.ua
  x-logo:
    url: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDYlcnHnHZISgLa126i5ofPhroCS3CY3sac_6KCrs-kA&s
  x-providerName: abills.net.ua
externalDocs:
  description: Redocly
  url: https://demo.abills.net.ua:9443/redocly-user.html
servers:
  - url: https://demo.abills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: bots
    description: Пути ботов пользователя
  - name: config
    description: Все доступные конфигурации
  - name: contacts
    description: Работа с контактами
  - name: finance
    description: Финансовая информация по пользователю
  - name: holdup
    description: Приостановление услуг
  - name: services
    description: Работа с услугами абонента
  - name: user
    description: Работа с пользователем
  - name: abon
    description: Работа с периодическими списаниями
  - name: cards
    description: Работа с карточками пополнения
  - name: docs
    description: информация об документах
  - name: equipment
    description: информация об оборудовании пользователя
  - name: expert
    description: Работа с экспертной системой
  - name: internet
    description: Работа с услугой Интернет
  - name: iptv
    description: Работа с IPTV
  - name: msgs
    description: Работа с заявками пользователя
  - name: paysys
    description: Работа с платежными системами
  - name: portal
    description: Новости в пользовтелям
  - name: referral
    description: Работа с реферальной системой
  - name: triplay
    description: Работа с Triplay
  - name: voip
    description: Работа с телефонией
paths:
  /user/bots/subscribe/phone:
    post:
      tags:
        - bots
      summary: Авторизация пользователя по номеру телефона (Только с бота)
      deprecated: true
      parameters:
        - name: USERBOT
          in: header
          description: Какой именно бот Telegram или Viber
          required: true
          schema:
            type: string
          example: Telegram
        - name: USERID
          in: header
          description: ID Telegram или Viber
          required: true
          schema:
            type: string
            example: 111111111
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: 380958656881
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
                  code:
                    type: string
                    example: 1
                  user:
                    type: boolean
                    example: true
        400:
          description: Нет поля phone
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1770010
                  errstr:
                    type: string
                    example: No field phone
  /user/bots/subscribe:
    post:
      tags:
        - bots
      summary: Авторизация пользователя по токену с botLink (Только с бота)
      deprecated: true
      parameters:
        - name: USERBOT
          in: header
          description: Какой именно бот Telegram или Viber
          required: true
          schema:
            type: string
          example: Telegram
        - name: USERID
          in: header
          description: ID Telegram или Viber
          required: true
          schema:
            type: string
            example: 111111111
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: u_WvnZTywig5qzipYH
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
                  code:
                    type: string
                    example: 1
                  user:
                    type: boolean
                    example: true
        400:
          description: Нет поля token
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1770004
                  errstr:
                    type: string
                    example: No field token
  /user/bots/subscribe/link/{string_bot}:
    get:
      tags:
        - bots
      summary: Получения ссылки на подписания на бота
      parameters:
        - name: string_bot
          in: path
          description: названия бота Viber или Telegram
          required: true
          schema:
            type: string
          example: Telegram
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  botLink:
                    type: string
                    example: "https://t.me/test_tg/?start=u_WvnZTywig5qzipYH"
        400:
          description: Нет параметра TELEGRAM_BOT_NAME в сonfig.pl
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 1070002
                  errstr:
                    type: string
                    example: 'ERR_UNKNOWN_TELEGRAM_BOT'
      security:
        - USERSID: [ ]
  /user/bots/subscribe/qrcode/{string_bot}:
    get:
      tags:
        - bots
      summary: Получения QRCode на подписания на бота
      parameters:
        - name: string_bot
          in: path
          description: названия бота Viber или Telegram
          required: true
          schema:
            type: string
          example: Telegram
      responses:
        200:
          description: |
            #
            ![Swagger logo](https://chart.apis.google.com/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=https%3A%2F%2Ft.me%2Fabills_user_bot%3Fstart%3Du_fB4xWXze5HgdSCu4)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
      security:
        - USERSID: [ ]
  /user/config:
    get:
      tags:
        - config
      summary: Список доступных конфигураций пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigConfig"
      security:
        - USERSID: [ ]
  
  /version:
    get:
      tags:
        - config
      summary: Получить версии биллинга и API
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigVersion"
      security:
        - USERSID: []
  /config:
    get:
      tags:
        - config
      summary: Публичная конфигурация
      description: |
        `1.30.01` Reworked field `passwordRecovery` number -> object. Added `fields` field inside it with required params for password recovery
    
        `1.30.01` Added field `canSendSms`. Returns can send sms to user instead email.
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPublicConfig"
  /user/contacts/{id}:
    delete:
      tags:
        - contacts
      summary: Удаление контакта
      parameters:
        - name: id
          in: path
          description: typeId контакта
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Неизвестный typeId
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10048
                  errstr:
                    type: string
                    example: No field token
      security:
        - USERSID: [ ]
  /user/contacts/push/subscribe/{id}:
    post:
      tags:
        - contacts
      summary: Подписка на Push уведомления
      parameters:
        - name: id
          in: path
          description: >
            Тип пуша. Доступные значения `1` - *Web*, `2` - *Android*, `3` - *iOS/MacOS Silicon*
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: "d61FRIQSRI2j1mOwvLqt12:APA91bGpVb1bbokiMBWAoBh6uaGhzFr6YOD9ZT_1WcFeu6b_Dc8a8glaQCEk5GtCM3LYdvnF1XewSIpiT6Y5gkoa9ztFUb8of1wxd28eG-L94DM8MHvaCGa2jIbatHWiPYcPSUOtAdsM"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - USERSID: [ ]
    delete:
      tags:
        - contacts
      summary: Отписка от Push уведомлений от всех устройств данного типа
      parameters:
        - name: id
          in: path
          description: >
            Тип пуша. Доступные значения `1` - *Web*, `2` - *Android*, `3` - *iOS/MacOS Silicon*
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
      security:
        - USERSID: [ ]
    get:
      tags:
        - contacts
      summary: Получить FCM токен
      parameters:
        - name: id
          in: path
          description: >
            Тип пуша. Доступные значения `1` - *Web*, `2` - *Android*, `3` - *iOS/MacOS Silicon*
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    example: "d61FRIQSRI2j1mOwvLqt12:APA91bGpVb1bbokiMBWAoBh6uaGhzFr6YOD9ZT_1WcFeu6b_Dc8a8glaQCEk5GtCM3LYdvnF1XewSIpiT6Y5gkoa9ztFUb8of1wxd28eG-L94DM8MHvaCGa2jIbatHWiPYcPSUOtAdsM"
                  uid:
                    type: integer
                    example: 1
      security:
        - USERSID: [ ]
  
  /user/contacts/push/subscribe/{id}/{string_token}:
    delete:
      tags:
        - contacts
      summary: Отписка от Push уведомлений избранным токеном
      parameters:
        - name: id
          in: path
          description: >
            Тип пуша. Доступные значения `1` - *Web*, `2` - *Android*, `3` - *iOS/MacOS Silicon*
          required: true
          schema:
            type: number
        - name: string_token
          in: path
          description: FCM токен
          required: true
          schema:
            type: string
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
      security:
        - USERSID: [ ]
  /user/contacts/push/badges/{id}:
    delete:
      tags:
        - contacts
      summary: Удаление количества непрочитанных сообщений на устройстве
      parameters:
        - name: id
          in: path
          description: >
            Тип пуша. Доступные значения `1` - *Web*, `2` - *Android*, `3` - *iOS/MacOS Silicon*. В данный момент Firebase поддерживает только iOS/MacOS Silicon
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - USERSID: [ ]
  
  /user/contacts/push/messages:
    get:
      tags:
        - contacts
      summary: Получить историю оповещений
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    created:
                      type: string
                      example: '2023-04-13 23:15:02'
                    id:
                      type: number
                      example: 1451
                    message:
                      type: string
                      example: Тест текст
                    status:
                      type: number
                      example: 0
                      description: 0 успешно получено, 1 ошибка
                    title:
                      type: string
                      example: "#201178 Нова відповідь в темі 'Тестове повідомлення'"
                    typeId:
                      type: number
                      example: 2
                    uid:
                      type: number
                      example: 6720
      security:
        - USERSID: [ ]
  /user/payments:
    get:
      tags:
        - finance
      summary: История платежей
      parameters:
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FinancePayments"
      security:
        - USERSID: [ ]
  /user/fees:
    get:
      tags:
        - finance
      summary: История списаний
      parameters:
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FinanceFees"
      security:
        - USERSID: [ ]
  /user/{id}/holdup:
    post:
      tags:
        - holdup
      summary: Приостановление всех услуг (или интернет)
      description: Приостановление всех услуг, если включен параметр $conf{HOLDUP_ALL} или только инетернет, если есть параметр $conf{INTERNET_USER_SERVICE_HOLDUP}, если включены оба параметра тогда $conf{INTERNET_USER_SERVICE_HOLDUP} игнорируется!
      parameters:
        - name: id
          in: path
          description: ID услуги Интернет, если параметр $conf{HOLDUP_ALL}, тогда передавать любую цифру, параметр игнорируется
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HoldupHoldupRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoldupHoldupResponse"
      security:
        - USERSID: [ ]
    delete:
      tags:
        - holdup
      summary: Удаление рассписания на приостановление всех услуг (или интернет)
      description: Удаление рассписания на приостановление всех услуг, если включен параметр $conf{HOLDUP_ALL} или только инетернет, если есть параметр  $conf{INTERNET_USER_SERVICE_HOLDUP}, если включены оба параметра $conf{INTERNET_USER_SERVICE_HOLDUP} игнорируется!
      parameters:
        - name: id
          in: path
          description: ID услуги Интернет, если параметр $conf{HOLDUP_ALL}, тогда передавать любую цифру, параметр игнорируется
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoldupHoldupResponse"
      security:
        - USERSID: [ ]
    get:
      tags:
        - holdup
      summary: Инфомация о приостановлении всех услуг (или интернет)
      description: Информация о приостановлении всех услуг, если включен параметр $conf{HOLDUP_ALL} или только инетернет, если есть параметр $conf{INTERNET_USER_SERVICE_HOLDUP}, если включены оба параметра, тогда $conf{INTERNET_USER_SERVICE_HOLDUP} игнорируется!
      parameters:
        - name: id
          in: path
          description: ID услуги Интернет, если параметр $conf{HOLDUP_ALL}, тогда передавать любую цифру, параметр игнорируется
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoldupHoldupInfo"
      security:
        - USERSID: [ ]
  /user/services:
    get:
      tags:
        - services
      summary: Список всех услуг
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicesServices"
      security:
        - USERSID: [ ]
  /users/login:
    post:
      tags:
        - user
      summary: Авторизация пользователя
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequestBody"
            examples:
              ClassicLogin:
                summary:
                  Авторизация по полю логину и паролю
                value:
                  login: testuser
                  password: testuser
              LoginSocialNetwork:
                summary:
                  Авторизация пользователя через социальную сеть
                value:
                  google: google_token
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
  /user/login:
    post:
      tags:
        - user
      summary: Авторизация пользователя
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequestBody"
            examples:
              ClassicLogin:
                summary:
                  Авторизация по полю логину и паролю
                value:
                  login: testuser
                  password: testuser
              LoginSocialNetwork:
                summary:
                  Авторизация пользователя через социальную сеть
                value:
                  google: google_token
              LoginByPhoneStep1:
                summary:
                  Авторизация по номеру телефона шаг 1
                value:
                  phone: 0999999999
              LoginByPhoneStep2:
                summary:
                  Авторизация по номеру телефона шаг 2
                value:
                  authCode: 8765
                  pinCode: 12345
              LoginByPhoneStep3:
                summary:
                  Авторизация по номеру телефона шаг 3 (Если больше одного пользователя с тем же номером)
                value:
                  authCode: 8765
                  pinCode: 12345
                  uid: 654342
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
              examples:
                ClassicResponse:
                  summary:
                    Успешная авторизация
                  value:
                    login: testuser
                    sid: sW44EJZLyWDMeXAV
                    uid: 12312
                    password: "`ab012WXY"
                LoginPhoneStep1Response:
                  summary:
                    Авторизация по номеру телефона шаг 1 ответ
                  value:
                    authCode: 103382
                    sent: true
                LoginPhoneStep2Response:
                  summary:
                    Авторизация по номеру телефона шаг 2 ответ (Если больше одного пользователя с тем же номером)
                  value:
                    users:
                      - login: "00100"
                        uid: 1
                      - login: "abills"
                        uid: 7
                      - login: "testerr44434433"
                        uid: 103381
  
  /user/password/recovery:
    post:
      tags:
        - user
      summary: Восстановление пароля
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasswordRecoveryRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordRecoveryResponse200"
        400:
          description: Нет ни login, uid или contractId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordRecoveryResponse400"
  /user/password/reset:
    post:
      tags:
        - user
      summary: Изменение пароля пользователем, после восстановления пароля
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasswordResetRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordResetResponse200"
        400:
          description: Нет ни password или code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordResetResponse400"
  /user/password/send:
    post:
      tags:
        - user
      summary: Получить пароль
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordSendResponse200"
        400:
          description: Не включена опция USER_SEND_PASSWORD
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPasswordSendResponse400"
      security:
        - USERSID: [ ]
  /user:
    get:
      tags:
        - user
      summary: Информация о пользователе
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUser"
      security:
        - USERSID: [ ]
  /user/pi:
    get:
      tags:
        - user
      summary: Персональная информация пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUserPi"
      security:
        - USERSID: [ ]
    put:
      tags:
        - user
      summary: Изменение персональной информации пользователем
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUserPiChangeRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed email, phone
        400:
          description: Нет возможности изменить, не включена опция $conf{user_chg_pi}
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10066
                  errstr:
                    type: string
                    example: Unknown operation happened
      security:
        - USERSID: [ ]
  
  /user/credit:
    get:
      tags:
        - user
      summary: Информация об установке кредита
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCredit"
      security:
        - USERSID: [ ]
    post:
      tags:
        - user
      summary: Установка кредита пользователю
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCreditTake"
      security:
        - USERSID: [ ]
  /user/recommendedPay:
    get:
      tags:
        - user
      summary: Рекомендуемая сумма к оплате
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRecommendedPay"
      security:
        - USERSID: [ ]
  /user/internet/registration:
    post:
      tags:
        - user
      summary: Регистрация пользователя сервиса интернет
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternetRegistrationRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetRegistrationResponse200"
        400:
          description: Пользователь существует
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetRegistrationResponse400"
  /user/registration:
    post:
      tags:
        - user
      summary: Регистрация пользователя сервиса
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegistrationRequest"
            examples:
              RegistrationByEmail:
                summary:
                  Регистрация пользователя по email
                value:
                  email: test@gmail.com
                  fio: Test User tester
                  login: testuser
              RegistrationByPhone:
                summary:
                  Регистрация пользователя по телефону
                value:
                  email: test@gmail.com
                  phone: 0509999991
                  fio: Test User tester
                  login: testuser
              RegistrationSocialNetwork:
                summary:
                  Регистрация пользователя через социальную сеть
                value:
                  socialNetwork: facebook
                  token: ya29.a0123GB123y890m2fRmDPn_GQYu8kIHraA1Y123Fc9JBi6oJe4RLPQ8CuPR6tIsGH0KINFpPcAiVBx7yap_Jdclgm5vHsvwSMBQZOqYFP3j3R-pUnJPiMa4rO37kq4dXxUcIbXX7DHfRbqmIJV9QDSXvNSU_Y1wwaCgYK123SARASFQHUCsbCxVyg37kTJkIPWDW_KDE84Q0165
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRegistrationResponse200"
              examples:
                Registration:
                  summary:
                    Регистрация пользователя
                  value:
                    result: "Successfully created user with uid: 49"
                RegistrationConfirmResponse:
                  summary:
                    Регистрация пользователя с подтверждением
                  value:
                    result: "Successfully send pin to email admin@gmail.com"
                    sendPin: 1
        400:
          description: Пользователь существует
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRegistrationResponse400"
  /user/verify:
    post:
      tags:
        - user
      summary: Подтверждение пользователя
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: testgmail@gmail.com
                verificationCode:
                  type: string
                  example: 12173
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully verified user
                  uid:
                    type: integer
                    example: 1
        400:
          description: Ошибка
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10082
                  errstr:
                    type: string
                    example: Wrong pin
  
  /user/resend/verification:
    post:
      tags:
        - user
      summary: Отправить повторно код
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: testgmail@gmail.com
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  destination:
                    type: string
                    example: testgmail@gmail.com
                  result:
                    type: string
                    example: Successfully send pin to email testgmail@gmail.com
                  sendPin:
                    type: number
                    example: 1
        400:
          description: Ошибка
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10006
                  errstr:
                    type: string
                    example: User not exists with this email
  
  /user/logout:
    delete:
      tags:
        - user
      summary: Выход пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Success logout
      security:
        - USERSID: [ ]
  
  /user/social/networks:
    post:
      tags:
        - user
      summary: Привязка социальной сети пользователем
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserSocialNetworksRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponseOk"
      security:
        - USERSID: [ ]
    delete:
      tags:
        - user
      summary: Отвязка от социальной сети пользователем
      parameters:
        - name: google
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
          example: ya29.A0AVA9y1s12FRL1mMwZTTq9PSX6fSSzzRINDtnnJf7Gdwf9c0URWEAu203MKj3sxHFW9x2pFd8IqHexGfkfhOe95sLgQk6g1u36lP4t5DXYH4U6yalrLaWHOEP-T3AnhgyNoWcLDqTk8W6neCFKoweuNuEjx_ehAYUNnWUtBVEFTQVRBU0ZRRTY1ZHI4WjIxdXFWYnAzZzNsYkdpQXVIUWw1Zw0165
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponseOk"
      security:
        - USERSID: [ ]
  /user/reset/password:
    post:
      tags:
        - user
      summary: Изменение пароля пользователем
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 12345678
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed password
        400:
          description: Нет ни password или code
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10036
                  errstr:
                    type: string
                    example: No field password
      security:
        - USERSID: [ ]
  /user/abon:
    get:
      tags:
        - abon
      summary: Информация об периодических списаниях пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbonAbon"
      security:
        - USERSID: [ ]
  /user/abon/{id}:
    post:
      tags:
        - abon
      summary: Активация сервиса
      parameters:
        - name: id
          in: path
          required: true
          description: ID сервиса
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbonActivateServiceResponse200"
        400:
          description: Слишком маленький депозит
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbonActivateServiceResponse400"
      security:
        - USERSID: [ ]
  /user/cards/payment:
    post:
      tags:
        - cards
      summary: Пополнения скретч картой
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardsAddPaymentRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardsAddPaymentResponse200"
        400:
          description: Нет параметра pin в теле запроса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardsAddPaymentResponse400"
      security:
        - USERSID: [ ]
  /user/docs/invoices:
    get:
      tags:
        - docs
      summary: Список инвойсов(счетов-фактур)
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocsInvoices"
      security:
        - USERSID: [ ]
    post:
      tags:
        - docs
      summary: Добавить счет фактуру
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocsInvoiceAddRequest"
            examples:
              NextPeriod:
                summary:
                  Добавить счет фактуру за следующий учетный период
                value:
                  nextPeriod: 1
              InvoiceAdd:
                summary:
                  Добавить счет фактуру
                value:
                  customer: "ФОП Іваненко"
                  order: "Інтернет/Voip"
                  sum: "720"
                  phone: "3809999999"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocsInvoiceAddResponse200"
        400:
          description: Не удалось добавить инвойс
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocsInvoiceAddResponse400"
      security:
        - USERSID: [ ]
  /user/docs/invoices/{id}:
    get:
      tags:
        - docs
      summary: Инвойс(счет-фактура)
      parameters:
        - name: id
          in: path
          description: ID инвойса(счета-фактуры)
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocsInvoice"
      security:
        - USERSID: [ ]
  
  /user/docs/invoices/period:
    get:
      tags:
        - docs
      summary: Инвойс (счет-фактура) за следующий период
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocsInvoicesPeriod"
      security:
        - USERSID: [ ]
  /user/equipment/:
    get:
      tags:
        - equipment
      summary: Информация по оборудованию у абонента
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquipmentEquipment"
      security:
        - USERSID: [ ]
  /user/expert/faqs:
    get:
      tags:
        - expert
      summary: Список быстрых ответов
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExpertFaqs"
      security:
        - USERSID: [ ]
  /user/internet:
    get:
      tags:
        - internet
      summary: Информация об интернет услугах пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetInternet"
      security:
        - USERSID: [ ]
  /user/internet/{id}/activate:
    post:
      tags:
        - internet
      summary: Активация услуги инетрнет
      parameters:
        - name: id
          in: path
          description: ID услуги интернет
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK. Success activation
        400:
          description: Нет денег для активации
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 201
                  errstr:
                    type: string
                    example: "Can't activate, not enough money"
      security:
        - USERSID: [ ]
  /user/internet/{id}:
    put:
      tags:
        - internet
      summary: Смена ТП
      parameters:
        - name: id
          in: path
          description: id услуги Интернет
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternetTariffChangeRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    example: 1
                  uid:
                    type: integer
                    example: 1
        400:
          description: Ошибка
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 145
                  errstr:
                    type: string
                    example: Wrong data - date
      security:
        - USERSID: [ ]
    delete:
      tags:
        - internet
      summary: Удалить расписание изменения ТП
      parameters:
        - name: id
          in: path
          description: id расписания
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    example: 1
                  uid:
                    type: integer
                    example: 1
      security:
        - USERSID: [ ]
  /user/internet/tariffs:
    get:
      tags:
        - internet
      summary: Доступные для изменения ТП, на которые хватает денег
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetTariffs"
      security:
        - USERSID: [ ]
  /user/internet/tariffs/all:
    get:
      tags:
        - internet
      summary: Все доступные для изменения ТП
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetTariffs"
      security:
        - USERSID: [ ]
  /user/internet/{id}/warnings:
    get:
      tags:
        - internet
      summary: Информация о списаниях
      parameters:
        - name: id
          in: path
          description: ID услуги
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetWarnings"
      security:
        - USERSID: [ ]
  
  /user/internet/sessions:
    get:
      tags:
        - internet
      summary: История интернет сессий
      parameters:
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetSessions"
      security:
        - USERSID: [ ]
  /user/internet/session/active:
    get:
      tags:
        - internet
      summary: Активная сессия абонента
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetActiveSession"
      security:
        - USERSID: [ ]
  /user/internet/mac/discovery:
    post:
      tags:
        - internet
      summary: Смена мак адреса пользователем
      description: Для работы с данным путём необходимо включить опцию `$conf{INTERNET_MAC_DICOVERY}=1;`
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternetMacDiscovery"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Hangup is done
        400:
          description: Мак адресов уже привязан к другому пользователю
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 10126
                  errstr:
                    type: string
                    example: This mac address already set for another user
                  cid:
                    type: string
                    example: "10:fe:ed:43:8f:36"
      security:
        - USERSID: [ ]
  /user/iptv:
    get:
      tags:
        - iptv
      summary: Информация всех услуг IPTV
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IptvUser"
      security:
        - USERSID: [ ]
  
  /user/iptv/tariffs:
    get:
      tags:
        - iptv
      summary: Список доступных тарифных планов для добавления новой услуги
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      example: 1
                    name:
                      type: string
                      example: Тест тест
                    tariffs:
                      type: array
                      items:
                        $ref: "#/components/schemas/IptvTariff"
      security:
        - USERSID: [ ]
  
  /user/iptv/services:
    get:
      tags:
        - iptv
      summary: Список сервисов IPTV
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IptvServices"
      security:
        - USERSID: [ ]
  
  /user/iptv/{id}/tariffs:
    get:
      tags:
        - iptv
      summary: Список доступных тарифных планов для изменения
      description: Список доступных тарифных планов для изменения существующей услуги
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IptvTariff"
      security:
        - USERSID: [ ]
  
  /user/iptv/tariffs/{service_id}:
    get:
      tags:
        - iptv
      summary: Список доступных тарифных планов в сервисе
      description: Список доступных тарифных планов в сервисе для добавления первой услуги
      parameters:
        - name: service_id
          in: path
          description: >
            Значение `serviceId`, можно получить в ответе
            в `GET /user/iptv/services` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IptvTariff"
      security:
        - USERSID: [ ]
  
  /user/iptv/promotion/tariffs:
    get:
      tags:
        - iptv
      summary: Список доступных акционных тарифов
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IptvTariff"
      security:
        - USERSID: [ ]
  
  /user/iptv/{id}/warnings:
    get:
      tags:
        - iptv
      summary: Информация о следующем списании IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IptvWarnings"
      security:
        - USERSID: [ ]
  /user/iptv/{id}/url:
    get:
      tags:
        - iptv
      summary: Получить url для просмотра IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
                  watchUrl:
                    type: string
                    example: "https //127.0.0.1/example"
        400:
          description: Нет возможности получить
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 20213
                  errstr:
                    type: string
                    example: Get url link for this service not available
      security:
        - USERSID: [ ]
  /user/iptv/{id}/playlist:
    get:
      tags:
        - iptv
      summary: Получить список каналов доступных для пользователя
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IptvPlaylist"
        400:
          description: Нет возможности получить
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 20212
                  errstr:
                    type: string
                    example: Get playlist link for this service not available
      security:
        - USERSID: [ ]
  /user/iptv/{id}/holdup:
    post:
      tags:
        - iptv
      summary: Приостановление услуги IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Holdup enabled
        400:
          description: Нет возможности установить holdup
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 4517
                  errstr:
                    type: string
                    example: Not allowed operation for this service
      security:
        - USERSID: [ ]
    delete:
      tags:
        - iptv
      summary: Удаление рассписания на приостановление услуги IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Нет возможности удалить holdup
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 4519
                  errstr:
                    type: string
                    example: Not allowed operation for this service
      security:
        - USERSID: [ ]
    get:
      tags:
        - iptv
      summary: Инфомация о приостановлении услуги IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  date_from:
                    type: string
                    example: "2023-01-01"
                  can_cancel:
                    type: boolean
                    example: true
      security:
        - USERSID: [ ]
  /user/iptv/{id}/activate:
    post:
      tags:
        - iptv
      summary: Активация услуги IPTV
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK. Success activation
        400:
          description: Статус не позволяет активировать
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 20210
                  errstr:
                    type: string
                    example: "Can't activate, not allowed"
      security:
        - USERSID: [ ]
  /user/iptv/tariff/add:
    post:
      tags:
        - iptv
      summary: Добавление услуги IPTV
      description: >
        Также обязательное поле в запросе можно найти пути `GET /user/config`
        параметр `id` в объекте `subscribe` в объекте `iptvConfig`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tpId:
                  type: number
                  example: 123
                serviceId:
                  type: number
                  example: 1
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: "Added ID: 1"
                  code:
                    type: number
                    example: 1
        400:
          description: Нет параметра tpId в теле запроса
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 20208
                  errstr:
                    type: string
                    example: Unknown tpId
      security:
        - USERSID: [ ]
  
  /user/iptv/{id}:
    put:
      tags:
        - iptv
      summary: Смена ТП
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `id`
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IptvTariffChangeRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    example: 1
                  uid:
                    type: integer
                    example: 1
        400:
          description: Ошибка
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 145
                  errstr:
                    type: string
                    example: Wrong data - date
      security:
        - USERSID: [ ]
    delete:
      tags:
        - iptv
      summary: Удалить расписание изменения ТП
      parameters:
        - name: id
          in: path
          description: >
            Значение `id`, можно получить в ответе
            в `GET /users/iptv` параметр `scheduleId` в объекте `schedule`
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    example: 1
                  uid:
                    type: integer
                    example: 1
      security:
        - USERSID: [ ]
  /user/msgs:
    get:
      tags:
        - msgs
      summary: Список заявок пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MsgsMsg"
      security:
        - USERSID: [ ]
    post:
      tags:
        - msgs
      summary: Создание заявки
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsMsgAddRequest"
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/MsgsMsgAddRequest"
                - $ref: "#/components/schemas/MsgsMsgsFiles"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsMsgAddResponse"
      security:
        - USERSID: [ ]
  /user/msgs/{id}:
    get:
      tags:
        - msgs
      summary: Информация о заявке пользователя
      parameters:
        - name: id
          in: path
          description: ID заявки
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsMsg"
      security:
        - USERSID: [ ]
  /user/msgs/{id}/reply:
    get:
      tags:
        - msgs
      summary: Все сообщения в заявке
      parameters:
        - name: id
          in: path
          description: ID заявки
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsMsgsReply"
      security:
        - USERSID: [ ]
    post:
      tags:
        - msgs
      summary: Ответ на существующую заявку
      parameters:
        - name: id
          in: path
          description: ID заявки
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MsgsMsgsReplyAddRequest"
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/MsgsMsgsReplyAddRequest"
                - $ref: "#/components/schemas/MsgsMsgsFiles"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - USERSID: [ ]
  /user/msgs/chapters:
    get:
      tags:
        - msgs
      summary: Список разделов заявок пользователя
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MsgsChapters"
      security:
        - USERSID: [ ]
  /user/msgs/attachments/{id}:
    get:
      tags:
        - msgs
      summary: Получение прикрепленного файла к сообщению
      parameters:
        - name: id
          in: path
          description: ID файла
          required: true
          schema:
            type: number
      responses:
        200:
          description: |
            #
            ![Swagger logo](https://play-lh.googleusercontent.com/OtF8QmtySwbMtomLbRFYMgVOOFKUw1D63BqR2XxtzGbDsdF97UUO-7IAOhppxBi93NqU=w240-h480-rw)
          content:
            '*/*':
              schema:
                type: string
                format: binary
      security:
        - USERSID: [ ]
  /user/paysys/systems:
    get:
      tags:
        - paysys
      summary: Список платежных систем доступных пользователю
      parameters:
        - name: requestMethod
          in: query
          description: сделать фильтрацию по методу запроса (GET, POST)
          schema:
            type: string
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysSystems"
      security:
        - USERSID: [ ]
  
  /user/paysys/pay:
    post:
      tags:
        - paysys
      summary: Формирование ссылки на быструю оплату
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaysysPayRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysPayResponse"
      security:
        - USERSID: [ ]
  /user/paysys/transaction/status/{string_id}:
    get:
      tags:
        - paysys
      summary: Проверка статуса платежа
      parameters:
        - name: string_id
          in: path
          description: ID транзакции
          required: true
          schema:
            type: string
            example: Liqpay:123456789
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysTransactionInfoResponse"
      security:
        - USERSID: [ ]
  
  /user/paysys/applePay/session:
    post:
      tags:
        - paysys
      summary: Получение apple pay сессии
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysAppleSession"
      security:
        - USERSID: [ ]
  /user/paysys/recurrent/:
    get:
      tags:
        - paysys
      summary: Получить информацию о регулярном платеже
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysPaysysRecurrentInfo200"
        400:
          description: Нет подписки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysPaysysRecurrentInfo400"
      security:
        - USERSID: [ ]
    delete:
      tags:
        - paysys
      summary: Удалаить регулярный платеж
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysPaysysRecurrentDelete200"
        400:
          description: Нет регулярного платежа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaysysPaysysRecurrentDelete200"
      security:
        - USERSID: [ ]
  /user/portal/menu:
    get:
      tags:
        - portal
      summary: Меню новостей
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalPortal"
      security:
        - USERSID: [ ]
  /user/portal/news:
    get:
      tags:
        - portal
      summary: Список новостей
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalNews"
      security:
        - USERSID: [ ]
  /user/portal/news/{string_id}:
    get:
      tags:
        - portal
      summary: Новость
      parameters:
          - name: string_id
            in: path
            description: ID новости или permalink
            required: true
            schema:
              example: test-permalink
              oneOf:
                - type: integer
                - type: string
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalNews"
      security:
        - USERSID: [ ]
  /user/referral:
    get:
      tags:
        - referral
      summary: Список рефералов и дополнительная информация
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferralReferral"
      security:
        - USERSID: [ ]
  /user/referral/bonus:
    get:
      tags:
        - referral
      summary: История бонусов
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferralBonusInfo"
      security:
        - USERSID: [ ]
    post:
      tags:
        - referral
      summary: Получить бонус
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferralBonus"
      security:
        - USERSID: [ ]
  /user/referral/friend:
    post:
      tags:
        - referral
      summary: Добавить реферала
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReferralReferralAdd"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
        400:
          description: Телефон содержит не только цифры
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 41001
                  errstr:
                    type: string
                    example: Invalid phone
      security:
        - USERSID: [ ]
  /user/referral/friend/{id}:
    put:
      tags:
        - referral
      summary: Изменить реферала
      parameters:
        - name: id
          in: path
          description: ID реферала
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReferralReferralAdd"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed
        400:
          description: Нет поля fio или number
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 41003
                  errstr:
                    type: string
                    example: No fields fio or number
      security:
        - USERSID: [ ]
  /user/triplay:
    get:
      tags:
        - triplay
      summary: Список тарифов в Triplay
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriplayTriplay"
      security:
        - USERSID: [ ]
  /user/voip:
    get:
      tags:
        - voip
      summary: Информация о услугу Voip
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoipVoip"
        400:
          description: Нет услуги Voip
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 30011
                  errstr:
                    type: string
                    example: Not active voip service
      security:
        - USERSID: []
  
  /user/voip/sessions:
    get:
      tags:
        - voip
      summary: Получить информацию о сессиях
      parameters:
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
        - name: fromDate
          in: query
          description: С даты
          schema:
            type: string
            example: '2022-12-12'
            default: '0000-00-00'
        - name: toDate
          in: query
          description: По какую дату
          schema:
            type: string
            example: '2022-12-12'
            default: '0000-00-00'
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoipSessions"
      security:
        - USERSID: []
  
  /user/voip/routes:
    get:
      tags:
        - voip
      summary: Получить список путей
      parameters:
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/pageRows"
        - $ref: "#/components/parameters/pg"
        - $ref: "#/components/parameters/sort"
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VoipRoutes"
        400:
          description: Нет услуги Voip
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 30012
                  errstr:
                    type: string
                    example: Not active voip service
      security:
        - USERSID: []
  /user/voip/tariffs:
    get:
      tags:
        - voip
      summary: Доступные для изменения ТП
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoipTariffs"
      security:
        - USERSID: [ ]
components:
  parameters:
    desc:
      name: desc
      in: query
      description: "Specify sorting order: 'ASC' for ascending, 'DESC' for descending"
      schema:
        type: string
        enum: [ ASC, DESC ]
        default: ASC
    pageRows:
      name: pageRows
      in: query
      description: Количество записей
      schema:
        type: integer
        default: 25
    pg:
      name: pg
      in: query
      description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
      schema:
        type: integer
        default: 0
    sort:
      name: sort
      in: query
      description: Сортировка по одному параметру выше
      schema:
        type: string
        default: 0
  schemas:
    UserBaseService:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of the service.
        tpName:
          type: string
          description: Name of the tariff plan.
        tpId:
          type: integer
          format: int64
          description: Tariff plan ID.
        uid:
          type: integer
          format: int64
          description: User ID.
        nextAbon:
          $ref: '#/components/schemas/UserServiceNextAbon'
        holdup:
          $ref: "#/components/schemas/UserServiceHoldup"
        schedule:
          $ref: "#/components/schemas/UserServiceBaseSchedule"
      required:
        - id
        - tpName
        - tpId
        - uid
    UserServiceNextAbon:
      type: object
      properties:
        abonDate:
          type: string
          format: date
          description: Дата следующей оплаты.
        activateDate:
          type: string
          format: date
          description: Дата активации.
        daysToFee:
          type: integer
          description: Дней до следующего снятия.
        sum:
          type: number
          format: double
          description: Сумма следующего снятия.
      required:
        - abonDate
        - activateDate
        - daysToFee
        - sum
    UserServiceHoldup:
      type: object
      properties:
        canCancel:
          type: boolean
          description: Ли можно удалить расписание приостановки.
        dateFrom:
          type: string
          format: date
          description: Дата начала приостановки.
        dateTo:
          type: string
          format: date
          description: Дата конца приостановки.
        del:
          type: integer
        delIds:
          type: string
      required:
        - canCancel
        - dateFrom
        - dateTo
        - del
        - delIds
    UserServiceBaseSchedule:
      type: object
      properties:
        canCancel:
          type: boolean
          example: false
          description: Ли можно удалить расписание.
        date:
          type: string
          example: '2023-01-13'
        dateFrom:
          type: string
          example: '2023-01-25'
        dayFee:
          type: number
          example: 0
        monthFee:
          type: number
          example: 0
        tpAge:
          type: number
          example: 1
        sheduleId:
          type: number
          example: 248
        tpId:
          type: number
          example: 1
        tpName:
          type: string
          example: "Future SuperMegaTariff"
    CamsUser:
      allOf:
        - $ref: '#/components/schemas/UserBaseService'
        - type: object
          properties:
            canChangeTp:
              type: boolean
              example: true
              description: Ли можно менять данный тарифный план.
            monthFee:
              type: number
              example: 300
              description: Месячное снятие
            serviceId:
              type: integer
              description: ID привязаного сервиса Cams
            serviceStatus:
              type: integer
              example: 0
              description: Статус сервиса
            statusName:
              type: string
              example: enable
          required:
            - canChangeTp
            - serviceId
            - serviceStatus
    MobileUser:
      allOf:
        - $ref: '#/components/schemas/UserBaseService'
        - type: object
          properties:
            canChangeTp:
              type: boolean
              example: true
            monthFee:
              type: number
              example: 300
            serviceStatus:
              type: integer
              example: 0
            statusName:
              type: string
              example: enable
    ConfigConfig:
      type: object
      properties:
        abonClient:
          type: number
          example: 1
        addFriend:
          type: number
          example: 1
        bots:
          type: object
          properties:
            telegram:
              type: number
              example: 1
        camsArchives:
          type: number
          example: 1
        camsClientsStreams:
          type: number
          example: 1
        camsUserInfo:
          type: number
          example: 1
        camsUserStreamsManagement:
          type: number
          example: 1
        cardsUserPayment:
          type: object
          properties:
            serial:
              type: number
              example: 1
        docsActsList:
          type: number
          example: 1
        docsInvoicesList:
          type: number
          example: 1
        docsReceiptList:
          type: number
          example: 1
        equipmentUser:
          type: number
          example: 1
        expertFaq:
          type: number
          example: 1
        extreceiptsList:
          type: number
          example: 1
        internet:
          type: object
          properties:
            nextMonth:
              type: number
              example: 1
            now:
              type: number
              example: 0
            schedule:
              type: number
              example: 2
        internetUserChgTp:
          type: number
          example: 1
        internetUserInfo:
          type: number
          example: 1
        internetUserStats:
          type: number
          example: 1
        iptv:
          type: object
          properties:
            nextMonth:
              type: number
              example: 1
            schedule:
              type: number
              example: 2
        iptvConfig:
          type: object
          properties:
            promotionTps:
              type: number
              example: 1
            subscribe:
              type: object
              properties:
                describe:
                  type: string
                  example: Enter your email
                id:
                  type: string
                  example: EMAIL
                name:
                  type: string
                  example: E-mail
        iptvPortalServiceInfo:
          type: number
          example: 1
        iptvUserChgTp:
          type: number
          example: 1
        iptvUserInfo:
          type: number
          example: 1
        moneyUnitNames:
          type: object
          properties:
            majorUnit:
              type: string
              example: "грн"
            minorUnit:
              type: string
              example: "коп"
        msgsUser:
          type: number
          example: 1
        organization:
          type: object
          properties:
            organizationAddress:
              type: string
              example: "м. Кременчук вул. Палія 15"
            organizationBankName:
              type: string
              example: "АТ КБ ПРИВАТБАНК"
            organizationBankNum:
              type: string
              example: "UA173000010000032003102901026"
            organizationMail:
              type: string
              example: "kpallisp@kpal.net"
            organizationName:
              type: string
              example: "КНЕТ ISP"
            organizationPhone:
              type: string
              example: "+380930445091"
            organizationPrivacyPolicy1:
              type: string
              example: "https://kpal.net/privacy-policy"
            organizationPrivacyPolicyDescription1:
              type: string
              example: "Privacy Policy ТОВ КНЕТ"
            organizationAppLinkGooglePlay:
              type: string
              example: "https://play.google.com/store/apps/details?id=com.abillslite"
            organizationAppLinkAppStore:
              type: string
              example: "https://apps.apple.com/ua/app/abills-lite/id1668648035"
        paysysPayment:
          type: number
          example: 1
        paysysRecurrentPayment:
          type: number
          example: 1
        paysysSubscribe:
          type: number
          example: 1
        paysysUserLog:
          type: number
          example: 1
        portalNews:
          type: number
          example: 1
        showUserChat:
          type: number
          example: 1
        socialAuth:
          type: object
          properties:
            facebook:
              type: number
              example: 0
            google:
              type: number
              example: 0
        socialNetworks:
          type: object
          description: соответствует параметру config.pl SOCIAL_NETWORKS
          properties:
            facebook:
              type: string
              example: https://www.facebook.com/abills.net/
            instagram:
              type: string
              example: https://instagram.com
            telegram:
              type: string
              example: https://t.me/abills
            viber:
              type: string
              example: https://viber.com
            youtube:
              type: string
              example: https://www.youtube.com/c/abillsnetua
        reviewPages:
          type: object
          description: соответствует параметру config.pl REVIEW_PAGES
          properties:
            2ipUa:
              type: string
              example: https://2ip.ua/ua/services/providers-rating
            2ipIo:
              type: string
              example: https://2ip.io/ua/isp-rating/
            googleMaps:
              type: string
              example: https://goo.gl/maps/yn7nSx1RdCxGePXV7
        system:
          type: object
          properties:
            currency:
              type: number
              example: 980
            password:
              type: object
              properties:
                length:
                  type: number
                  example: 7
                symbols:
                  type: number
                  example: 1234567890
        userChgPasswd:
          type: number
          example: 1
        userChgPi:
          type: number
          example: 1
        userChgPiAllowedParams:
          type: object
          properties:
            pinAbs:
              type: number
              example: 1
            test:
              type: number
              example: 4
            cellPhone:
              type: number
              example: 99
            email:
              type: number
              example: 99
            fio:
              type: number
              example: 99
            phone:
              type: number
              example: 99
        userCredit:
          type: number
          example: 1001
        userHoldupAll:
          type: object
          deprecated: true
          properties:
            activeFees:
              type: number
              example: 10
            dailyFees:
              type: number
              example: 0
            holdupPeriod:
              type: string
              example: 10
            maxPeriod:
              type: number
              example: 30
            minPeriod:
              type: number
              example: 1
        userSendPassword:
          type: number
          example: 1
        holdup:
          type: array
          items:
            type: object
            properties:
              activeFees:
                type: number
                example: 10
              dailyFees:
                type: number
                example: 0
              holdupPeriod:
                type: string
                example: 10
              maxPeriod:
                type: number
                example: 30
              minPeriod:
                type: number
                example: 1
        voipUserInfo:
          type: number
          example: 1
        voipUserRoutes:
          type: number
          example: 1
        voipUserStats:
          type: number
          example: 1
    ConfigPublicConfig:
      type: object
      properties:
        auth:
          type: object
          properties:
            phone:
              type: number
              example: 1
        login:
          type: object
          properties:
            maxLength:
              type: number
              example: 20
            regx:
              type: string
              example: ^[a-z0-9:_][a-z0-9:_-]*$
        organization:
          type: object
          properties:
            organizationAddress:
              type: string
              example: "м. Кременчук вул. Палія 15"
            organizationBankName:
              type: string
              example: "АТ КБ ПРИВАТБАНК"
            organizationBankNum:
              type: string
              example: "UA173000010000032003102901026"
            organizationMail:
              type: string
              example: "kpallisp@kpal.net"
            organizationName:
              type: string
              example: "КНЕТ ISP"
            organizationPhone:
              type: string
              example: "+380930445091"
            organizationPrivacyPolicy1:
              type: string
              example: "https://kpal.net/privacy-policy"
            organizationPrivacyPolicyDescription1:
              type: string
              example: "Privacy Policy ТОВ КНЕТ"
            organizationAppLinkGooglePlay:
              type: string
              example: "https://play.google.com/store/apps/details?id=com.abillslite"
            organizationAppLinkAppStore:
              type: string
              example: "https://apps.apple.com/ua/app/abills-lite/id1668648035"
        password:
          type: object
          properties:
            length:
              type: number
              example: 7
            symbols:
              type: number
              example: 1234567890
        passwordRecovery:
          type: object
          properties:
            canSendSms:
              type: number
              example: 1
              description: Можно ли отправить sms пользователю 1 - да, 0 - нет
            fields:
              type: array
              items:
                type: string
                enum:
                  - LOGIN
                  - EMAIL
                  - PHONE
                  - UID
                  - CONTRACT_ID
              description: Обязательные поля, которые должны быть переданы во чс восстановление пароля
              example: [ "LOGIN", "EMAIL" ]
          required:
            - fields
        phone:
          type: object
          properties:
            pattern:
              type: string
              example: '+380 (xx) xxx-xx-xx'
        portalNews:
          type: number
          example: 1
        registration:
          type: object
          properties:
            facebook:
              type: number
              example: 1
            google:
              type: number
              example: 1
            apple:
              type: number
              example: 1
        socialAuth:
          type: object
          properties:
            facebook:
              type: number
              example: 1
            google:
              type: number
              example: 1
            apple:
              type: number
              example: 1
    ConfigVersion:
      type: object
      properties:
        version:
          type: string
          example: 0.91.0
        apiVersion:
          type: string
          example: "0.01"
        billing:
          type: string
          example: Abills
    FinanceFees:
      type: object
      properties:
        datetime:
          type: string
          example: "2021-10-06 00:00:00"
        dsc:
          type: string
          example: 'Internet: М/А test (111)(2021-10-01-2021-10-31)'
        id:
          type: number
          example: 3190
        sum:
          type: number
          example: 10
        uid:
          type: number
          example: 6550
    FinancePayments:
      type: object
      properties:
        datetime:
          type: string
          example: "2021-12-04 17:58:35"
        dsc:
          type: string
          example: "Payments ID: 10323469 ФИО - Иванов Виктор Викторович Логин - ivanov_v # 380509152"
        extId:
          type: string
          example: Liqpay:10323469
        id:
          type: number
          example: 2237
        sum:
          type: number
          example: 451
        uid:
          type: number
          example: 6550
    HoldupHoldupInfo:
      type: object
      properties:
        canCancel:
          type: boolean
          example: true
        dateFrom:
          type: string
          example: "2022-06-12"
        dateTo:
          type: string
          example: "2022-07-12"
        delIds:
          type: string
          example: "1, 2, 3"
    HoldupHoldupRequest:
      type: object
      properties:
        fromDate:
          type: string
          example: "2021-08-14"
        toDate:
          type: string
          example: "2021-08-17"
    HoldupHoldupResponse:
      type: object
      properties:
        success:
          type: integer
          example: 1
        msg:
          type: string
          example: Success
    ServicesServices:
      type: object
      properties:
        abon:
          type: array
          items:
            $ref: '#/components/schemas/AbonUser'
        cams:
          type: array
          items:
            $ref: '#/components/schemas/CamsUser'
        internet:
          type: array
          items:
            $ref: '#/components/schemas/InternetUser'
        iptv:
          type: array
          items:
            $ref: '#/components/schemas/IptvUser'
        mobile:
          type: array
          items:
            $ref: '#/components/schemas/MobileUser'
        voip:
          type: array
          items:
            $ref: '#/components/schemas/VoipUser'
    UserCredit:
      type: object
      properties:
        creditChgPrice:
          type: string
          example: "500"
        creditMonthChanges:
          type: string
          example: "1"
        creditSum:
          type: string
          example: "800"
        creditDays:
          type: string
          example: "3"
    UserCreditTake:
      type: object
      properties:
        creditSum:
          type: integer
          example: 500
        creditChangePrice:
          type: integer
          example: 100
        uid:
          type: integer
          example: 11135
        creditDays:
          type: string
          example: "3"
        creditMonthChanges:
          type: string
          example: "1"
    UserInternetRegistrationRequest:
      type: object
      required: [login, email, phone, tpId]
      properties:
        login:
          type: string
          example: testuser
        email:
          type: string
          example: test@gmail.com
        phone:
          type: string
          example: 380912324212
        tpId:
          type: number
          example: 112
        userIp:
          type: string
          example: 0.0.0.0
          description: Нужный параметр если включена опция INTERNET_REGISTRATION_IP
        fio:
          type: string
          example: Test user
        registrationTag:
          type: number
          example: 1
        password:
          type: string
          example: testpass
          description: Нужный параметр если включена опция REGISTRATION_PASSWORD
    UserInternetRegistrationResponse200:
      type: object
      properties:
        result:
          type: string
          example: "Successfully created user with uid: 49"
    UserInternetRegistrationResponse400:
      type: object
      properties:
        errno:
          type: integer
          example: 10024
        errstr:
          type: string
          example: User already exist
    UserLoginRequestBody:
      type: object
      properties:
        login:
          type: string
          example: testuser
          description: Логин пользователя
        password:
          type: string
          example: testuser
          description: Пароль пользователя
        google:
          type: string
          example: google_token
          description: Google токен
        facebook:
          type: string
          example: facebook_token
          description: Facebook токен
        apple:
          type: string
          example: apple_token
          description: Apple токен
        phone:
          type: string
          example: 0999999999
          description: Номер телефону
        pinCode:
          type: string
          example: 12345
          description: Пин который поступает на телефон
        authCode:
          type: string
          example: 8765
          description: Код, который получается с первого запроса на авторизацию по номеру телефона
        uid:
          type: string
          example: 654342
          description: UID пользователя которого необходимо авторизовать, если больше одного пользователя с тем же номером
    UserLoginResponse:
      type: object
      properties:
        login:
          type: string
          example: testuser
        sid:
          type: string
          example: sW44EJZLyWDMeXAV
        uid:
          type: integer
          example: 1
        password:
          type: string
          example: "`ab012WXY"
          description: Параметр который возвращает биллинг если авторизация через социальную сеть и если включена опция $conf{API_LOGIN_SHOW_PASSWORD}. Если значение 0 сдвиг не происходит, если значение не 0, происходит смещение или влево или вправо, по алгоритму цезаря таблица ASCII c значения 33 до 126
        authCode:
          type: integer
          description: ID авторизации к которому привязан пин код
          example: 103382
        sent:
          type: boolean
          description: Статус отправки смс
          example: true
        users:
          type: array
          description: список пользователей с тем же номером
          items:
            type: object
            properties:
              login:
                type: string
                description: Логин пользователя, нужно передать в 3 запросе
                example: test user
              uid:
                type: integer
                description: ID пользователя, нужно передать в 3 запросе
                example: 12312
    UserPasswordRecoveryRequest:
      type: object
      properties:
        uid:
          type: integer
          example: 49
          description: Используется для проверки пользователя, обязательно если пустой login или contractId
        login:
          type: string
          example: testuser
[...]
