openapi: 3.0.3
info:
  title: ABillS USER API
  version: 1.38.05
  description: |
    Last modified 2025-01-09 <br>
    Have other version of API? 
    Specification stored in billing folder. Location /usr/abills/misc/bundle_user.yaml
    Copy it and upload it to your favorite OPEN API viewer.
  contact:
    name: Have a question? Support
    url: https://support.abills.net.ua/
    email: dev@abills.net.ua
  x-logo:
    url: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDYlcnHnHZISgLa126i5ofPhroCS3CY3sac_6KCrs-kA&s
  x-providerName: abills.net.ua
externalDocs:
  description: Redocly
  url: https://demo.abills.net.ua:9443/redocly-user.html
servers:
  - url: https://demo.abills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: bots
    description: Пути ботов пользователя
  - name: config
    description: Все доступные конфигурации
  - name: contacts
    description: Работа с контактами
  - name: finance
    description: Финансовая информация по пользователю
  - name: holdup
    description: Приостановление услуг
  - name: services
    description: Работа с услугами абонента
  - name: user
    description: Работа с пользователем
  - name: abon
    description: Работа с периодическими списаниями
  - name: cards
    description: Работа с карточками пополнения
  - name: docs
    description: информация об документах
  - name: equipment
    description: информация об оборудовании пользователя
  - name: expert
    description: Работа с экспертной системой
  - name: internet
    description: Работа с услугой Интернет
  - name: iptv
    description: Работа с IPTV
  - name: msgs
    description: Работа с заявками пользователя
  - name: paysys
    description: Работа с платежными системами
  - name: portal
    description: Новости в пользовтелям
  - name: referral
    description: Работа с реферальной системой
  - name: triplay
    description: Работа с Triplay
  - name: voip
    description: Работа с телефонией
paths:
  $ref: "./user/bots/paths.yaml"
  $ref: "./user/config/paths.yaml"
  $ref: "./user/contacts/paths.yaml"
  $ref: "./user/finance/paths.yaml"
  $ref: "./user/holdup/paths.yaml"
  $ref: "./user/services/paths.yaml"
  $ref: "./user/user/paths.yaml"
  $ref: "../../Abills/modules/Abon/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Cards/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Docs/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Equipment/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Expert/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Internet/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Iptv/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Msgs/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Paysys/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Portal/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Referral/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Triplay/Api/swagger/user/paths.yaml"
  $ref: "../../Abills/modules/Voip/Api/swagger/user/paths.yaml"
components:
  parameters:
    desc:
      name: desc
      in: query
      description: "Specify sorting order: 'ASC' for ascending, 'DESC' for descending"
      schema:
        type: string
        enum: [ ASC, DESC ]
        default: ASC
    pageRows:
      name: pageRows
      in: query
      description: Количество записей
      schema:
        type: integer
        default: 25
    pg:
      name: pg
      in: query
      description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
      schema:
        type: integer
        default: 0
    sort:
      name: sort
      in: query
      description: Сортировка по одному параметру выше
      schema:
        type: string
        default: 0
  schemas:
    UserBaseService:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of the service.
        tpName:
          type: string
          description: Name of the tariff plan.
        tpId:
          type: integer
          format: int64
          description: Tariff plan ID.
        uid:
          type: integer
          format: int64
          description: User ID.
        nextAbon:
          $ref: '#/components/schemas/UserServiceNextAbon'
        holdup:
          $ref: "#/components/schemas/UserServiceHoldup"
        schedule:
          $ref: "#/components/schemas/UserServiceBaseSchedule"
      required:
        - id
        - tpName
        - tpId
        - uid
    UserServiceNextAbon:
      type: object
      properties:
        abonDate:
          type: string
          format: date
          description: Дата следующей оплаты.
        activateDate:
          type: string
          format: date
          description: Дата активации.
        daysToFee:
          type: integer
          description: Дней до следующего снятия.
        sum:
          type: number
          format: double
          description: Сумма следующего снятия.
      required:
        - abonDate
        - activateDate
        - daysToFee
        - sum
    UserServiceHoldup:
      type: object
      properties:
        canCancel:
          type: boolean
          description: Ли можно удалить расписание приостановки.
        dateFrom:
          type: string
          format: date
          description: Дата начала приостановки.
        dateTo:
          type: string
          format: date
          description: Дата конца приостановки.
        del:
          type: integer
        delIds:
          type: string
      required:
        - canCancel
        - dateFrom
        - dateTo
        - del
        - delIds
    UserServiceBaseSchedule:
      type: object
      properties:
        canCancel:
          type: boolean
          example: false
          description: Ли можно удалить расписание.
        date:
          type: string
          example: '2023-01-13'
        dateFrom:
          type: string
          example: '2023-01-25'
        dayFee:
          type: number
          example: 0
        monthFee:
          type: number
          example: 0
        tpAge:
          type: number
          example: 1
        sheduleId:
          type: number
          example: 248
        tpId:
          type: number
          example: 1
        tpName:
          type: string
          example: "Future SuperMegaTariff"
    CamsUser:
      allOf:
        - $ref: '#/components/schemas/UserBaseService'
        - type: object
          properties:
            canChangeTp:
              type: boolean
              example: true
              description: Ли можно менять данный тарифный план.
            monthFee:
              type: number
              example: 300
              description: Месячное снятие
            serviceId:
              type: integer
              description: ID привязаного сервиса Cams
            serviceStatus:
              type: integer
              example: 0
              description: Статус сервиса
            statusName:
              type: string
              example: enable
          required:
            - canChangeTp
            - serviceId
            - serviceStatus
    MobileUser:
      allOf:
        - $ref: '#/components/schemas/UserBaseService'
        - type: object
          properties:
            canChangeTp:
              type: boolean
              example: true
            monthFee:
              type: number
              example: 300
            serviceStatus:
              type: integer
              example: 0
            statusName:
              type: string
              example: enable
  securitySchemes:
    USERSID:
      type: apiKey
      name: USERSID
      in: header
