.comment-wrapper {
    position: relative;
    width: 100%;
    padding: 8px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 13px;
    color: #333;
    text-align: left;
    background-color: whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px
}

.comment-text {
    font-size: 1.2em;
}

.com_line {
    height: 1px;
    color: black;
    background-color: darkgray;
    border: none;
    margin: 0 0 10px 0;
}

.glyphicon {
    cursor: pointer;
}

.info-images {
    /* Masonry container */
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
}

.info-image {
    /* Masonry bricks or child elements */
    position: relative;
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;

    cursor: pointer;
}

.info-image .image-controls {
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    font-size: 1.5em;
    z-index: auto;
}

.info-image .image-controls:hover {
    color: red;
}