/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.tcalInput {
	content: "h";
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	/* background-image: url('/styles/default_adm/img/no_cal.gif'); */
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 1900;
	width: 240px;
	background-color: inherit;
	border-radius: 4px;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	cursor: pointer;
	border: 1px solid silver;

	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
 #tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
	margin-top: 3px;

}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0 5px;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
		margin-top: 3px;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
		margin-top: 3px;
	padding: 0 5px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	white-space: nowrap;
} 
/* #tcalPrevYear:before  { content: '<span class="glyphicon glyphicon-plus"></span>'; }
#tcalPrevMonth :before { content: '<span class="glyphicon glyphicon-plus"></span>'; }
#tcalNextMonth:before { content: '<span class="glyphicon glyphicon-plus"></span>'; }
#tcalNextYear:before { content: '<span class="glyphicon glyphicon-plus"></span>'; } */

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;

	width: 100%;
}

 #tcalGrid th {

	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	cursor: default;
/* 	background-color: gray;
	color: white; */
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td:hover{
background-color: #ABFFD4 !important;
}
#tcalGrid td.tcalOtherMonth {
  color: silver;  
 filter: invert(80%);
 }
#tcalGrid td.tcalWeekend {
 background-color: #F0F5FA; 
 }
#tcalGrid td.tcalToday {
   border: 1px solid magenta; 
 }
#tcalGrid td.tcalSelected {
 /* background-color: #FFB3BE; 
 color: black; */
 }		
 
 
