.controlBtn {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 1px;
    box-shadow: 0 2px 6px rgba(0.3, 0, .3, 0);
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
}

.controlText {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    padding-left: 0;
}

.dropdown-menu > ymaps > ymaps > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > ymaps > ymaps > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}